Repository HardMax71/Integr8sCode: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-backend, mypy-backend, grimp-backend, eslint-frontend, stylelint-frontend, svelte-check-frontend

ruff-backend:
  name: ruff check (backend)
  entry: bash -c 'cd backend && uv run ruff check . --config pyproject.toml'
  language: system
  pass_filenames: false

mypy-backend:
  name: mypy --strict (backend)
  entry: bash -c 'cd backend && uv run mypy --config-file pyproject.toml --strict .'
  language: system
  pass_filenames: false

grimp-backend:
  name: grimp orphan modules (backend)
  entry: bash -c 'cd backend && uv run python scripts/check_orphan_modules.py'
  language: system
  pass_filenames: false

eslint-frontend:
  name: eslint (frontend)
  entry: bash -c 'cd frontend && npx eslint src'
  language: system
  pass_filenames: false

stylelint-frontend:
  name: stylelint (frontend)
  entry: bash -c 'cd frontend && npx stylelint "src/**/*.css"'
  language: system
  pass_filenames: false

svelte-check-frontend:
  name: svelte-check (frontend)
  entry: bash -c 'cd frontend && npx svelte-check --tsconfig ./tsconfig.json'
  language: system
  pass_filenames: false

feat: sec hardening - passlib -> pwdlib - preciser limit enforcements for k8s pods, also psa labels - bumped up dependencies (last ones got CVEs inside), also added up passwords
  backend/app/core/security.py
  backend/app/services/k8s_worker/pod_builder.py
  backend/app/services/k8s_worker/worker.py
  backend/app/settings.py
  backend/pyproject.toml
  backend/scripts/seed_users.py
  backend/secrets.example.toml
  backend/uv.lock
  backend/workers/run_k8s_worker.py
  docker-compose.yaml
  frontend/nginx.conf.template
Due: ruff-backend, mypy-backend, grimp-backend

feat: csp nonce + replaced ansi-to-html with ansi_up - better class application
  .github/workflows/release-deploy.yml
  docs/SECURITY.md
  docs/operations/nginx-configuration.md
  docs/security/policies.md
  frontend/nginx.conf.template
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/app.css
  frontend/src/components/editor/CodeMirrorEditor.svelte
  frontend/src/components/editor/OutputPanel.svelte
  frontend/src/components/editor/__tests__/CodeMirrorEditor.test.ts
Due: eslint-frontend, stylelint-frontend, svelte-check-frontend

fix: missing permissions for created k8s role - added
  cert-generator/setup-k8s.sh
Due: none

fix: deleting pods after any end (e.g. success/fail/timeout) in monitor
  backend/app/services/pod_monitor/monitor.py
Due: ruff-backend, mypy-backend, grimp-backend

fix: cleaning up stale pods
  cert-generator/setup-k8s.sh
Due: none

fix: adding security context
  backend/app/services/k8s_worker/worker.py
  backend/app/services/pod_monitor/config.py
Due: ruff-backend, mypy-backend, grimp-backend

fix: limit to pre-pull containers added
  backend/app/services/k8s_worker/worker.py
Due: ruff-backend, mypy-backend, grimp-backend

fix: remove backend-wide k8s_max_concurrent_pods, replaced with dedicated limits for system-wide k8s quota on cpu and memory
  backend/app/services/k8s_worker/worker.py
  backend/app/services/runtime_settings.py
  backend/app/settings.py
  backend/tests/e2e/test_admin_settings_routes.py
  backend/tests/unit/services/test_runtime_settings.py
  docs/security/policies.md
Due: ruff-backend, mypy-backend, grimp-backend

fix: higher limits
  backend/app/settings.py
  backend/config.test.toml
  backend/config.toml
Due: ruff-backend, mypy-backend, grimp-backend

fix: replaced hard enforced local limits with kueue
  .github/actions/e2e-ready/action.yml
  .github/workflows/stack-tests.yml
  backend/app/services/k8s_worker/pod_builder.py
  backend/app/services/k8s_worker/worker.py
  backend/app/settings.py
  backend/config.test.toml
  backend/config.toml
  cert-generator/setup-k8s.sh
  docs/security/policies.md
Due: ruff-backend, mypy-backend, grimp-backend

fix: detected issues
  .github/actions/e2e-ready/action.yml
  .github/workflows/stack-tests.yml
  backend/app/services/pod_monitor/monitor.py
  backend/tests/unit/services/pod_monitor/test_monitor.py
  cert-generator/setup-k8s.sh
Due: ruff-backend, mypy-backend, grimp-backend

fix: detected issues
  cert-generator/setup-k8s.sh
Due: none

feat: security hardening (#256)
  .github/actions/e2e-ready/action.yml
  .github/workflows/release-deploy.yml
  .github/workflows/stack-tests.yml
  backend/app/core/security.py
  backend/app/services/k8s_worker/pod_builder.py
  backend/app/services/k8s_worker/worker.py
  backend/app/services/pod_monitor/config.py
  backend/app/services/pod_monitor/monitor.py
  backend/app/services/runtime_settings.py
  backend/app/settings.py
  backend/pyproject.toml
  backend/scripts/seed_users.py
  backend/secrets.example.toml
  backend/tests/e2e/test_admin_settings_routes.py
  backend/tests/unit/services/pod_monitor/test_monitor.py
  backend/tests/unit/services/test_runtime_settings.py
  backend/uv.lock
  backend/workers/run_k8s_worker.py
  cert-generator/setup-k8s.sh
  docker-compose.yaml
  docs/SECURITY.md
  docs/operations/nginx-configuration.md
  docs/security/policies.md
  frontend/nginx.conf.template
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/app.css
  frontend/src/components/editor/CodeMirrorEditor.svelte
  frontend/src/components/editor/OutputPanel.svelte
  frontend/src/components/editor/__tests__/CodeMirrorEditor.test.ts
Due: ruff-backend, mypy-backend, grimp-backend, eslint-frontend, stylelint-frontend, svelte-check-frontend

fix: streamlined error logging inside pod monitor (no more branching inside except block)
  backend/app/services/k8s_worker/worker.py
  backend/app/services/pod_monitor/monitor.py
  backend/tests/unit/services/pod_monitor/test_monitor.py
  backend/workers/run_pod_monitor.py
Due: ruff-backend, mypy-backend, grimp-backend

fix: narrowed type in publish event func of monitor
  backend/app/services/pod_monitor/__init__.py
  backend/app/services/pod_monitor/event_mapper.py
  backend/app/services/pod_monitor/monitor.py
  backend/tests/unit/services/pod_monitor/test_config_and_init.py
  backend/tests/unit/services/pod_monitor/test_monitor.py
Due: ruff-backend, mypy-backend, grimp-backend

fix: removed process of raw event, routing stuff through another func
  backend/app/services/pod_monitor/monitor.py
  backend/tests/unit/services/pod_monitor/test_monitor.py
Due: ruff-backend, mypy-backend, grimp-backend

fix: logging (no f-strings)
  backend/app/services/pod_monitor/monitor.py
Due: ruff-backend, mypy-backend, grimp-backend

fix: split of agg_id vs exec_id
  backend/app/api/routes/execution.py
  backend/app/db/repositories/event_repository.py
  backend/app/services/event_service.py
  backend/app/services/k8s_worker/worker.py
  backend/app/services/pod_monitor/event_mapper.py
  backend/app/services/result_processor/processor.py
  backend/app/services/saga/execution_saga.py
  backend/app/services/saga/saga_orchestrator.py
Due: ruff-backend, mypy-backend, grimp-backend

fix: exec events adapter in tests
  backend/tests/e2e/test_execution_routes.py
Due: ruff-backend, mypy-backend, grimp-backend

fix: monitor metrics
  backend/app/services/pod_monitor/monitor.py
Due: ruff-backend, mypy-backend, grimp-backend

fix: streamlined pod monitor (#257)
  backend/app/api/routes/execution.py
  backend/app/db/repositories/event_repository.py
  backend/app/services/event_service.py
  backend/app/services/k8s_worker/worker.py
  backend/app/services/pod_monitor/__init__.py
  backend/app/services/pod_monitor/event_mapper.py
  backend/app/services/pod_monitor/monitor.py
  backend/app/services/result_processor/processor.py
  backend/app/services/saga/execution_saga.py
  backend/app/services/saga/saga_orchestrator.py
  backend/tests/e2e/test_execution_routes.py
  backend/tests/unit/services/pod_monitor/test_config_and_init.py
  backend/tests/unit/services/pod_monitor/test_monitor.py
  backend/workers/run_pod_monitor.py
Due: ruff-backend, mypy-backend, grimp-backend

fix: moved out term/nonterm events definition to a single place
  backend/app/infrastructure/kafka/topics.py
  backend/app/services/pod_monitor/monitor.py
  backend/app/services/sse/sse_service.py
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_execution_routes.py
Due: ruff-backend, mypy-backend, grimp-backend

fix: in deploy taking mogo root user/pass combi from env params, in env params setting them from gh secrets
  .github/workflows/stack-tests.yml
Due: none

fix: unified mongo creds passing, also updated names
  .github/workflows/release-deploy.yml
  .github/workflows/stack-tests.yml
  backend/app/settings.py
  backend/config.toml
  backend/otel-collector-config.yaml
  backend/secrets.example.toml
  docker-compose.yaml
Due: ruff-backend, mypy-backend, grimp-backend

fix: safe creds parsing
  backend/app/settings.py
Due: ruff-backend, mypy-backend, grimp-backend

Fix/term events (#258)
  .github/workflows/release-deploy.yml
  backend/app/infrastructure/kafka/topics.py
  backend/app/services/pod_monitor/monitor.py
  backend/app/services/sse/sse_service.py
  backend/app/settings.py
  backend/config.toml
  backend/otel-collector-config.yaml
  backend/secrets.example.toml
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_execution_routes.py
  docker-compose.yaml
Due: ruff-backend, mypy-backend, grimp-backend

fix: use container-internal env vars in mongo healthcheck
  docker-compose.yaml
Due: none

fix: use container-internal env vars in mongo healthcheck (#259)
  docker-compose.yaml
Due: none

fix: mongo check
  docker-compose.yaml
Due: none

fix: mongo check (#260)
  docker-compose.yaml
Due: none

feat: loading secrets not from toml but from env files
  .github/actions/e2e-ready/action.yml
  .github/workflows/docs.yml
  .github/workflows/release-deploy.yml
  .github/workflows/stack-tests.yml
  AGENTS.md
  README.md
  backend/app/settings.py
  backend/config.test.toml
  backend/config.toml
  backend/secrets.example.toml
  docker-compose.yaml
  docs/getting-started.md
  docs/operations/cicd.md
  docs/operations/deployment.md
  docs/reference/configuration.md
Due: ruff-backend, mypy-backend, grimp-backend

fix: detected issues
  AGENTS.md
  backend/app/settings.py
Due: ruff-backend, mypy-backend, grimp-backend

fix: default for secret key
  backend/app/settings.py
Due: ruff-backend, mypy-backend, grimp-backend

feat: loading secrets not from toml but from env files (#261)
  .github/actions/e2e-ready/action.yml
  .github/workflows/docs.yml
  .github/workflows/release-deploy.yml
  .github/workflows/stack-tests.yml
  AGENTS.md
  README.md
  backend/app/settings.py
  backend/config.test.toml
  backend/config.toml
  backend/secrets.example.toml
  docker-compose.yaml
  docs/getting-started.md
  docs/operations/cicd.md
  docs/operations/deployment.md
  docs/reference/configuration.md
Due: ruff-backend, mypy-backend, grimp-backend

fix: user seed container adding path to config files
  docker-compose.yaml
Due: none

fix: user seed container adding path to config files (#262)
  docker-compose.yaml
Due: none

fix: healthcheck with creds
  docker-compose.yaml
Due: none

Fix/seed users creds (#263)
  docker-compose.yaml
Due: none

fix: dependencies bumped
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: dependencies bumped (#264)
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
Due: none

Path conditions:
  ruff-backend: any of: ^backend/.*\.py$
  mypy-backend: any of: ^backend/.*\.py$
  grimp-backend: any of: ^backend/.*\.py$
  eslint-frontend: any of: ^frontend/src/.*\.(ts|svelte)$
  stylelint-frontend: any of: ^frontend/src/.*\.css$
  svelte-check-frontend: any of: ^frontend/src/.*\.(ts|svelte)$
