Repository HardMax71/Integr8sCode: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

ruff-backend:
  name: ruff check (backend)
  entry: bash -c 'cd backend && uv run ruff check . --config pyproject.toml'
  language: system
  pass_filenames: false

mypy-backend:
  name: mypy --strict (backend)
  entry: bash -c 'cd backend && uv run mypy --config-file pyproject.toml --strict .'
  language: system
  pass_filenames: false

vulture-backend:
  name: vulture dead code (backend)
  entry: bash -c 'cd backend && uv run vulture app/ vulture_whitelist.py'
  language: system
  pass_filenames: false

eslint-frontend:
  name: eslint (frontend)
  entry: bash -c 'cd frontend && npx eslint src'
  language: system
  pass_filenames: false

svelte-check-frontend:
  name: svelte-check (frontend)
  entry: bash -c 'cd frontend && npx svelte-check --tsconfig ./tsconfig.json'
  language: system
  pass_filenames: false

test fixes
  backend/tests/e2e/services/sse/test_redis_bus.py
  backend/tests/e2e/test_sse_routes.py
Due: ruff-backend, mypy-backend, vulture-backend

simplified sse repo/bus passing in backend
  backend/app/core/providers.py
  backend/app/db/repositories/sse_repository.py
  backend/app/domain/sse/__init__.py
  backend/app/domain/sse/models.py
  backend/app/events/handlers.py
  backend/app/services/notification_service.py
  backend/app/services/sse/__init__.py
  backend/app/services/sse/redis_bus.py
  backend/app/services/sse/sse_service.py
  backend/tests/e2e/services/sse/test_partitioned_event_router.py
  backend/tests/e2e/services/sse/test_redis_bus.py
  backend/tests/unit/services/sse/test_sse_service.py
Due: ruff-backend, mypy-backend, vulture-backend

removed separate msg field from event failed - now constructing via event error type
  backend/app/domain/events/typed.py
  backend/app/services/k8s_worker/worker.py
  backend/app/services/notification_service.py
  backend/app/services/pod_monitor/event_mapper.py
  backend/app/services/saga/saga_orchestrator.py
Due: ruff-backend, mypy-backend, vulture-backend

- redis bus tests with fake bus moved to unit tests - sse uses exec repo, no separate sse repo
  backend/app/core/providers.py
  backend/app/db/__init__.py
  backend/app/db/repositories/__init__.py
  backend/app/db/repositories/execution_repository.py
  backend/app/db/repositories/sse_repository.py
  backend/app/domain/sse/__init__.py
  backend/app/domain/sse/models.py
  backend/app/services/sse/sse_service.py
  backend/tests/unit/services/sse/test_redis_bus.py
  backend/tests/unit/services/sse/test_sse_service.py
Due: ruff-backend, mypy-backend, vulture-backend

- sse repo auth check - removed msg field completely
  backend/app/api/routes/sse.py
  backend/app/domain/events/typed.py
  backend/app/domain/sse/models.py
  backend/app/schemas_pydantic/sse.py
  backend/app/services/execution_service.py
  backend/app/services/pod_monitor/event_mapper.py
  backend/app/services/result_processor/processor.py
  backend/app/services/saga/saga_orchestrator.py
  backend/app/services/sse/redis_bus.py
  backend/app/services/sse/sse_service.py
  backend/tests/unit/services/sse/test_sse_service.py
  frontend/src/lib/editor/execution.svelte.ts
Due: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

tests update
  docs/reference/openapi.json
  frontend/src/lib/api/types.gen.ts
  frontend/src/lib/editor/__tests__/execution.test.ts
Due: eslint-frontend, svelte-check-frontend

tests update
  backend/app/api/routes/sse.py
  backend/app/services/sse/sse_service.py
  backend/tests/unit/services/sse/test_sse_service.py
Due: ruff-backend, mypy-backend, vulture-backend

tests update
  backend/tests/e2e/test_sse_routes.py
Due: ruff-backend, mypy-backend, vulture-backend

chore: simplification of sse: simplified redis bus (sends stuff to sse), types, convertion (#211)
  backend/app/api/routes/sse.py
  backend/app/core/providers.py
  backend/app/db/__init__.py
  backend/app/db/repositories/__init__.py
  backend/app/db/repositories/execution_repository.py
  backend/app/db/repositories/sse_repository.py
  backend/app/domain/enums/sse.py
  backend/app/domain/events/typed.py
  backend/app/domain/sse/__init__.py
  backend/app/domain/sse/models.py
  backend/app/events/handlers.py
  backend/app/schemas_pydantic/sse.py
  backend/app/services/execution_service.py
  backend/app/services/k8s_worker/worker.py
  backend/app/services/notification_service.py
  backend/app/services/pod_monitor/event_mapper.py
  backend/app/services/result_processor/processor.py
  backend/app/services/saga/saga_orchestrator.py
  backend/app/services/sse/__init__.py
  backend/app/services/sse/redis_bus.py
  backend/app/services/sse/sse_service.py
  backend/tests/e2e/notifications/test_notification_sse.py
  backend/tests/e2e/services/sse/test_partitioned_event_router.py
  backend/tests/e2e/services/sse/test_redis_bus.py
  backend/tests/e2e/test_sse_routes.py
  backend/tests/unit/services/sse/test_kafka_redis_bridge.py
  backend/tests/unit/services/sse/test_redis_bus.py
  backend/tests/unit/services/sse/test_sse_service.py
  docs/reference/openapi.json
  frontend/src/lib/api/types.gen.ts
  frontend/src/lib/editor/__tests__/execution.test.ts
  frontend/src/lib/editor/execution.svelte.ts
Due: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

fix: types, reused code, tests in frontend/unit
  frontend/src/__tests__/test-utils.ts
  frontend/src/components/__tests__/Header.test.ts
  frontend/src/components/__tests__/NotificationCenter.test.ts
  frontend/src/components/__tests__/ProtectedRoute.test.ts
  frontend/src/components/admin/events/__tests__/EventDetailsModal.test.ts
  frontend/src/components/admin/events/__tests__/EventStatsCards.test.ts
  frontend/src/components/admin/events/__tests__/EventsTable.test.ts
  frontend/src/components/admin/events/__tests__/ReplayPreviewModal.test.ts
  frontend/src/components/admin/events/__tests__/UserOverviewModal.test.ts
  frontend/src/components/editor/__tests__/LanguageSelect.test.ts
  frontend/src/components/editor/__tests__/ResourceLimits.test.ts
  frontend/src/components/editor/__tests__/SavedScripts.test.ts
  frontend/src/routes/__tests__/Editor.test.ts
  frontend/src/routes/__tests__/Home.test.ts
  frontend/src/routes/__tests__/Login.test.ts
  frontend/src/routes/__tests__/Notifications.test.ts
  frontend/src/routes/__tests__/Register.test.ts
  frontend/src/routes/__tests__/Settings.test.ts
  frontend/src/routes/admin/__tests__/AdminEvents.test.ts
  frontend/src/routes/admin/__tests__/AdminExecutions.test.ts
  frontend/src/routes/admin/__tests__/AdminLayout.test.ts
  frontend/src/routes/admin/__tests__/AdminSagas.test.ts
  frontend/src/routes/admin/__tests__/AdminSettings.test.ts
  frontend/src/routes/admin/__tests__/AdminUsers.test.ts
  frontend/src/routes/admin/__tests__/test-utils.ts
  frontend/src/stores/__tests__/auth.test.ts
  frontend/src/stores/__tests__/notificationStore.test.ts
  frontend/src/stores/__tests__/theme.test.ts
  frontend/vitest.setup.ts
Due: eslint-frontend, svelte-check-frontend

fix: error/type handling in fetchUserProfile
  frontend/src/stores/auth.svelte.ts
Due: eslint-frontend, svelte-check-frontend

fix: frontend/e2e tests + added aria labels
  frontend/e2e/admin-users.spec.ts
  frontend/e2e/auth.spec.ts
  frontend/e2e/editor.spec.ts
  frontend/e2e/fixtures.ts
  frontend/e2e/home.spec.ts
  frontend/e2e/notifications.spec.ts
  frontend/e2e/register.spec.ts
  frontend/e2e/settings.spec.ts
  frontend/src/components/Header.svelte
  frontend/src/components/__tests__/Header.test.ts
  frontend/src/components/editor/LanguageSelect.svelte
  frontend/src/components/editor/OutputPanel.svelte
  frontend/src/components/editor/__tests__/LanguageSelect.test.ts
  frontend/src/routes/Login.svelte
  frontend/src/routes/Register.svelte
Due: eslint-frontend, svelte-check-frontend

fix: updated tests
  frontend/src/components/__tests__/Header.test.ts
  frontend/src/components/admin/events/EventsTable.svelte
  frontend/src/components/editor/SavedScripts.svelte
  frontend/src/components/editor/__tests__/LanguageSelect.test.ts
  frontend/src/routes/__tests__/Notifications.test.ts
  frontend/src/routes/admin/__tests__/AdminEvents.test.ts
  frontend/src/routes/admin/__tests__/AdminExecutions.test.ts
  frontend/src/routes/admin/__tests__/AdminSagas.test.ts
  frontend/src/routes/admin/__tests__/AdminSettings.test.ts
  frontend/src/routes/admin/__tests__/AdminUsers.test.ts
Due: eslint-frontend, svelte-check-frontend

fix: updated tests, also removed `?? <..>` blocks where data is guaranteed
  frontend/e2e/fixtures.ts
  frontend/src/components/editor/OutputPanel.svelte
  frontend/src/components/editor/__tests__/OutputPanel.test.ts
  frontend/src/lib/editor/__tests__/execution.test.ts
  frontend/src/lib/editor/execution.svelte.ts
  frontend/src/lib/notifications/stream.svelte.ts
  frontend/src/routes/admin/AdminUsers.svelte
  frontend/vitest.setup.ts
Due: eslint-frontend, svelte-check-frontend

fix: grafana link and uid drift in dashboards
  backend/grafana/grafana.ini
  backend/grafana/provisioning/dashboards/coordinator-execution.json
  backend/grafana/provisioning/dashboards/integr8scode.json
  docker-compose.yaml
  frontend/nginx.conf.template
Due: none

fix: uid in provisioning and link to grafana
  backend/grafana/grafana.ini
  backend/grafana/provisioning/dashboards/dlq-monitoring.json
  backend/grafana/provisioning/dashboards/event-stream-monitoring.json
  backend/grafana/provisioning/dashboards/kafka-events-monitoring.json
  backend/grafana/provisioning/dashboards/rate-limiting-dashboard.json
  docker-compose.yaml
Due: none

fix: record_wait_time correct calculation
  backend/app/services/execution_queue.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: tests
  backend/tests/unit/services/test_execution_queue.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: grafana link and uid drift in dashboards (#224)
  backend/app/services/execution_queue.py
  backend/grafana/provisioning/dashboards/coordinator-execution.json
  backend/grafana/provisioning/dashboards/dlq-monitoring.json
  backend/grafana/provisioning/dashboards/event-stream-monitoring.json
  backend/grafana/provisioning/dashboards/integr8scode.json
  backend/grafana/provisioning/dashboards/kafka-events-monitoring.json
  backend/grafana/provisioning/dashboards/rate-limiting-dashboard.json
  backend/tests/unit/services/test_execution_queue.py
  docker-compose.yaml
  frontend/nginx.conf.template
Due: ruff-backend, mypy-backend, vulture-backend

fix: mail host is now gh secret and in release-deploy - recreating grafana container
  .github/workflows/release-deploy.yml
  backend/grafana/grafana.ini
  docker-compose.yaml
Due: none

fix: mail host is now gh secret and in release-deploy - recreating grafana container (#225)
  .github/workflows/release-deploy.yml
  backend/grafana/grafana.ini
  docker-compose.yaml
Due: none

fix: release-deploy - sets grafana folder perms and for json - replaced stale metric
  .github/workflows/release-deploy.yml
  backend/grafana/provisioning/dashboards/integr8scode.json
Due: none

feat: panels visualization in grafana updated
  backend/grafana/provisioning/dashboards/integr8scode.json
Due: none

feat: folder uid added, basic auth (the one via http) added, removed the mess with folder uid in yml
  .github/workflows/release-deploy.yml
  backend/grafana/grafana.ini
  backend/grafana/provisioning/dashboards/dashboard.yml
Due: none

fix: grafana rights for correct display (#226)
  .github/workflows/release-deploy.yml
  backend/grafana/grafana.ini
  backend/grafana/provisioning/dashboards/dashboard.yml
  backend/grafana/provisioning/dashboards/integr8scode.json
Due: none

feat: safe default for alerts, added healthcheck for grafana, also curl to explicitly reimport all dashboards
  .github/workflows/release-deploy.yml
  backend/grafana/provisioning/dashboards/dashboard.yml
  docker-compose.yaml
Due: none

fix: explicit reimport of dashboards (#227)
  .github/workflows/release-deploy.yml
  backend/grafana/provisioning/dashboards/dashboard.yml
  docker-compose.yaml
Due: none

chore: removed curl call in release-deploy script
  .github/workflows/release-deploy.yml
Due: none

chore: removed curl call in release-deploy script (#228)
  .github/workflows/release-deploy.yml
Due: none

fix: style unification (back to overview button)
  backend/grafana/provisioning/alerting/alerting.yml
  backend/grafana/provisioning/dashboards/coordinator-execution.json
  backend/grafana/provisioning/dashboards/dlq-monitoring.json
  backend/grafana/provisioning/dashboards/event-replay.json
  backend/grafana/provisioning/dashboards/event-stream-monitoring.json
  backend/grafana/provisioning/dashboards/http-middleware.json
  backend/grafana/provisioning/dashboards/integr8scode.json
  backend/grafana/provisioning/dashboards/kafka-events-monitoring.json
  backend/grafana/provisioning/dashboards/kubernetes-pods.json
  backend/grafana/provisioning/dashboards/notifications.json
  backend/grafana/provisioning/dashboards/rate-limiting-dashboard.json
  backend/grafana/provisioning/dashboards/security-auth.json
Due: none

fix: style unification (back to overview button) (#229)
  backend/grafana/provisioning/alerting/alerting.yml
  backend/grafana/provisioning/dashboards/coordinator-execution.json
  backend/grafana/provisioning/dashboards/dlq-monitoring.json
  backend/grafana/provisioning/dashboards/event-replay.json
  backend/grafana/provisioning/dashboards/event-stream-monitoring.json
  backend/grafana/provisioning/dashboards/http-middleware.json
  backend/grafana/provisioning/dashboards/integr8scode.json
  backend/grafana/provisioning/dashboards/kafka-events-monitoring.json
  backend/grafana/provisioning/dashboards/kubernetes-pods.json
  backend/grafana/provisioning/dashboards/notifications.json
  backend/grafana/provisioning/dashboards/rate-limiting-dashboard.json
  backend/grafana/provisioning/dashboards/security-auth.json
Due: none

fix: nginx port update
  frontend/nginx.conf.template
Due: none

fix: nginx port update (#230)
  frontend/nginx.conf.template
Due: none

fix: data sources for grafana dashboards + correct metrics acquisition
  backend/app/core/providers.py
  backend/app/db/repositories/event_repository.py
  backend/app/dlq/manager.py
  backend/app/events/handlers.py
  backend/app/services/event_replay/replay_service.py
  backend/app/services/idempotency/idempotency_manager.py
  backend/grafana/provisioning/alerting/alerting.yml
  backend/grafana/provisioning/dashboards/coordinator-execution.json
  backend/grafana/provisioning/dashboards/dlq-monitoring.json
  backend/grafana/provisioning/dashboards/event-replay.json
  backend/grafana/provisioning/dashboards/event-stream-monitoring.json
  backend/grafana/provisioning/dashboards/http-middleware.json
  backend/grafana/provisioning/dashboards/integr8scode.json
  backend/grafana/provisioning/dashboards/kafka-events-monitoring.json
  backend/grafana/provisioning/dashboards/kubernetes-pods.json
  backend/grafana/provisioning/dashboards/notifications.json
  backend/grafana/provisioning/dashboards/rate-limiting-dashboard.json
  backend/grafana/provisioning/dashboards/security-auth.json
Due: ruff-backend, mypy-backend, vulture-backend

fix: using mongodb-otel exporter instead of metrics in separate repos (where possible)
  backend/app/core/metrics/__init__.py
  backend/app/core/metrics/database.py
  backend/app/core/providers.py
  backend/app/db/repositories/event_repository.py
  backend/app/services/idempotency/idempotency_manager.py
  backend/grafana/provisioning/dashboards/event-stream-monitoring.json
  backend/grafana/provisioning/dashboards/http-middleware.json
  backend/grafana/provisioning/dashboards/mongodb-monitoring.json
  backend/otel-collector-config.yaml
  backend/tests/e2e/idempotency/test_idempotency.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/metrics/test_database_and_dlq_metrics.py
  backend/tests/unit/core/metrics/test_metrics_classes.py
  backend/tests/unit/services/idempotency/test_idempotency_manager.py
  docker-compose.yaml
Due: ruff-backend, mypy-backend, vulture-backend

fix: hardcoded user data in otel collector config
  backend/app/services/event_replay/replay_service.py
  backend/grafana/provisioning/dashboards/dlq-monitoring.json
  backend/otel-collector-config.yaml
  docker-compose.yaml
Due: ruff-backend, mypy-backend, vulture-backend

fix: ops fix in one of plots in dlq dashboard
  backend/grafana/provisioning/dashboards/dlq-monitoring.json
Due: none

fix: data sources for grafana dashboards + correct metrics acquisition (#231)
  backend/app/core/metrics/__init__.py
  backend/app/core/metrics/database.py
  backend/app/core/providers.py
  backend/app/dlq/manager.py
  backend/app/events/handlers.py
  backend/app/services/event_replay/replay_service.py
  backend/app/services/idempotency/idempotency_manager.py
  backend/grafana/provisioning/alerting/alerting.yml
  backend/grafana/provisioning/dashboards/coordinator-execution.json
  backend/grafana/provisioning/dashboards/dlq-monitoring.json
  backend/grafana/provisioning/dashboards/event-replay.json
  backend/grafana/provisioning/dashboards/event-stream-monitoring.json
  backend/grafana/provisioning/dashboards/http-middleware.json
  backend/grafana/provisioning/dashboards/integr8scode.json
  backend/grafana/provisioning/dashboards/kafka-events-monitoring.json
  backend/grafana/provisioning/dashboards/kubernetes-pods.json
  backend/grafana/provisioning/dashboards/mongodb-monitoring.json
  backend/grafana/provisioning/dashboards/notifications.json
  backend/grafana/provisioning/dashboards/rate-limiting-dashboard.json
  backend/grafana/provisioning/dashboards/security-auth.json
  backend/otel-collector-config.yaml
  backend/tests/e2e/idempotency/test_idempotency.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/metrics/test_database_and_dlq_metrics.py
  backend/tests/unit/core/metrics/test_metrics_classes.py
  backend/tests/unit/services/idempotency/test_idempotency_manager.py
  docker-compose.yaml
Due: ruff-backend, mypy-backend, vulture-backend

Path conditions:
  ruff-backend: any of: ^backend/.*\.py$
  mypy-backend: any of: ^backend/.*\.py$
  vulture-backend: any of: ^backend/.*\.py$
  eslint-frontend: any of: ^frontend/src/.*\.(ts|svelte)$
  svelte-check-frontend: any of: ^frontend/src/.*\.(ts|svelte)$
