Repository HardMax71/Integr8sCode: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: uv tool install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Local hooks using uv run to match CI exactly
  - repo: local
    hooks:
      # Ruff - matches CI: cd backend && uv run ruff check . --config pyproject.toml
      - id: ruff-backend
        name: ruff check (backend)
        entry: bash -c 'cd backend && uv run ruff check . --config pyproject.toml'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      # MyPy - matches CI: cd backend && uv run mypy --config-file pyproject.toml --strict .
      - id: mypy-backend
        name: mypy --strict (backend)
        entry: bash -c 'cd backend && uv run mypy --config-file pyproject.toml --strict .'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      # Vulture - matches CI: cd backend && uv run vulture app/ vulture_whitelist.py
      - id: vulture-backend
        name: vulture dead code (backend)
        entry: bash -c 'cd backend && uv run vulture app/ vulture_whitelist.py'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      # ESLint - matches CI: cd frontend && npx eslint src
      - id: eslint-frontend
        name: eslint (frontend)
        entry: bash -c 'cd frontend && npx eslint src'
        language: system
        files: ^frontend/src/.*\.(ts|svelte)$
        pass_filenames: false

      # Svelte Check - matches CI: cd frontend && npx svelte-check
      - id: svelte-check-frontend
        name: svelte-check (frontend)
        entry: bash -c 'cd frontend && npx svelte-check --tsconfig ./tsconfig.json'
        language: system
        files: ^frontend/src/.*\.(ts|svelte)$
        pass_filenames: false

fix: updated diagrams and docs (#238)
  docs/architecture/middleware.md
  docs/architecture/rate-limiting.md
  docs/assets/images/system_diagram.svg
  docs/components/schema-manager.md
  docs/components/workers/index.md
  docs/frontend/routing.md
  docs/reference/configuration.md
Due: none

test: extra frontend/unit tests
  frontend/src/components/__tests__/EventTypeIcon.test.ts
  frontend/src/components/__tests__/Modal.test.ts
  frontend/src/components/__tests__/ModalWrapper.svelte
  frontend/src/components/__tests__/Pagination.test.ts
  frontend/src/components/admin/__tests__/ActionButtons.test.ts
  frontend/src/components/admin/__tests__/FilterPanel.test.ts
  frontend/src/components/admin/__tests__/FilterPanelWrapper.svelte
  frontend/src/components/admin/__tests__/StatsCard.test.ts
  frontend/src/components/admin/__tests__/StatusBadge.test.ts
  frontend/src/components/editor/__tests__/LanguageSelect.test.ts
Due: eslint-frontend, svelte-check-frontend

fix: quicker frontend/unit + consistency in imports (all use aliases instead of relative paths)
  frontend/src/__tests__/test-utils.ts
  frontend/src/routes/admin/__tests__/AdminEvents.test.ts
  frontend/src/routes/admin/__tests__/AdminExecutions.test.ts
  frontend/src/routes/admin/__tests__/AdminSagas.test.ts
  frontend/src/routes/admin/__tests__/AdminUsers.test.ts
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
Due: eslint-frontend, svelte-check-frontend

fix: quicker frontend/unit + consistency in imports (all use aliases instead of relative paths)
  frontend/src/components/__tests__/ModalWrapper.svelte
  frontend/src/components/admin/__tests__/ActionButtons.test.ts
  frontend/src/components/admin/__tests__/FilterPanelWrapper.svelte
  frontend/src/components/admin/__tests__/StatsCard.test.ts
  frontend/src/components/admin/__tests__/StatusBadge.test.ts
  frontend/src/components/admin/events/__tests__/EventDetailsModal.test.ts
  frontend/src/components/admin/events/__tests__/EventFilters.test.ts
  frontend/src/components/admin/events/__tests__/EventStatsCards.test.ts
  frontend/src/components/admin/events/__tests__/EventsTable.test.ts
  frontend/src/components/admin/events/__tests__/ReplayPreviewModal.test.ts
  frontend/src/components/admin/events/__tests__/ReplayProgressBanner.test.ts
  frontend/src/components/admin/events/__tests__/UserOverviewModal.test.ts
  frontend/src/components/editor/__tests__/CodeMirrorEditor.test.ts
  frontend/src/components/editor/__tests__/LanguageSelect.test.ts
  frontend/src/components/editor/__tests__/OutputPanel.test.ts
  frontend/src/components/editor/__tests__/ResourceLimits.test.ts
  frontend/src/components/editor/__tests__/SavedScripts.test.ts
  frontend/src/lib/__tests__/api-interceptors.test.ts
  frontend/src/lib/__tests__/formatters.test.ts
Due: eslint-frontend, svelte-check-frontend

fix: extracted common objs to test utils
  frontend/src/__tests__/test-utils.ts
  frontend/src/lib/admin/stores/__tests__/eventsStore.test.ts
  frontend/src/lib/admin/stores/__tests__/executionsStore.test.ts
  frontend/src/lib/admin/stores/__tests__/sagasStore.test.ts
  frontend/src/routes/admin/__tests__/AdminExecutions.test.ts
  frontend/src/routes/admin/__tests__/AdminSagas.test.ts
  frontend/src/routes/admin/__tests__/AdminUsers.test.ts
  frontend/src/stores/__tests__/notificationStore.test.ts
Due: eslint-frontend, svelte-check-frontend

fix: extra unit tests
  frontend/src/components/admin/__tests__/AutoRefreshControl.test.ts
  frontend/src/components/admin/sagas/__tests__/SagaDetailsModal.test.ts
  frontend/src/components/admin/sagas/__tests__/SagaFilters.test.ts
  frontend/src/components/admin/sagas/__tests__/SagaStatsCards.test.ts
  frontend/src/components/admin/sagas/__tests__/SagasTable.test.ts
  frontend/src/components/admin/users/__tests__/DeleteUserModal.test.ts
  frontend/src/components/admin/users/__tests__/RateLimitsModal.test.ts
  frontend/src/components/admin/users/__tests__/UserFilters.test.ts
  frontend/src/components/admin/users/__tests__/UserFormModal.test.ts
  frontend/src/components/admin/users/__tests__/UsersTable.test.ts
  frontend/src/lib/__tests__/api-interceptors.test.ts
  frontend/src/routes/__tests__/Editor.test.ts
Due: eslint-frontend, svelte-check-frontend

fix: extra unit tests
  frontend/src/components/admin/users/__tests__/RateLimitsModal.test.ts
  frontend/src/components/admin/users/__tests__/UserFilters.test.ts
  frontend/src/components/admin/users/__tests__/UserFormModal.test.ts
  frontend/src/lib/admin/stores/__tests__/executionsStore.test.ts
  frontend/src/svelte-internal-client.d.ts
Due: eslint-frontend, svelte-check-frontend

fix: detected issues
  frontend/src/routes/__tests__/Editor.test.ts
Due: eslint-frontend, svelte-check-frontend

fix: detected issues
  frontend/src/lib/admin/stores/__tests__/eventsStore.test.ts
  frontend/src/lib/admin/stores/__tests__/executionsStore.test.ts
  frontend/src/lib/admin/stores/__tests__/sagasStore.test.ts
Due: eslint-frontend, svelte-check-frontend

feat: using svelte5 stuff like (svelte:window) instead of hardcoded wheels
  frontend/src/__tests__/test-utils.ts
  frontend/src/components/Header.svelte
  frontend/src/components/Modal.svelte
  frontend/src/components/NotificationCenter.svelte
  frontend/src/lib/admin/__tests__/autoRefresh.test.ts
  frontend/src/lib/admin/autoRefresh.svelte.ts
  frontend/src/lib/admin/index.ts
  frontend/src/lib/admin/stores/__tests__/eventsStore.test.ts
  frontend/src/lib/admin/stores/__tests__/executionsStore.test.ts
  frontend/src/lib/admin/stores/__tests__/sagasStore.test.ts
  frontend/src/lib/admin/stores/eventsStore.svelte.ts
  frontend/src/lib/admin/stores/executionsStore.svelte.ts
  frontend/src/lib/admin/stores/sagasStore.svelte.ts
  frontend/src/routes/Editor.svelte
  frontend/src/routes/Settings.svelte
  frontend/src/routes/admin/AdminEvents.svelte
  frontend/src/routes/admin/AdminExecutions.svelte
  frontend/src/routes/admin/AdminSagas.svelte
  frontend/src/stores/__tests__/notificationStore.test.ts
  frontend/src/stores/notificationStore.svelte.ts
  frontend/src/stores/theme.svelte.ts
Due: eslint-frontend, svelte-check-frontend

feat: removed local imports
  frontend/src/lib/admin/stores/eventsStore.svelte.ts
  frontend/src/lib/admin/stores/executionsStore.svelte.ts
  frontend/src/lib/admin/stores/sagasStore.svelte.ts
Due: eslint-frontend, svelte-check-frontend

feat: styles and date lib instead of hardcoded stuff
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.css
  frontend/src/components/NotificationCenter.svelte
  frontend/src/components/__tests__/NotificationCenter.test.ts
  frontend/src/components/admin/events/EventsTable.svelte
  frontend/src/components/admin/events/__tests__/EventsTable.test.ts
  frontend/src/lib/__tests__/formatters.test.ts
  frontend/src/lib/formatters.ts
  frontend/src/routes/Notifications.svelte
  frontend/src/routes/Settings.svelte
  frontend/src/routes/__tests__/Notifications.test.ts
  frontend/src/routes/admin/AdminEvents.svelte
  frontend/src/routes/admin/AdminExecutions.svelte
  frontend/src/stores/theme.svelte.ts
  frontend/src/styles/components.css
Due: eslint-frontend, svelte-check-frontend

feat: consola for more precise logging, also removed useless code
  frontend/package-lock.json
  frontend/package.json
  frontend/rollup.config.js
  frontend/src/App.svelte
  frontend/src/components/NotificationCenter.svelte
  frontend/src/components/__tests__/Header.test.ts
  frontend/src/lib/admin/__tests__/constants.test.ts
  frontend/src/lib/admin/constants.ts
  frontend/src/lib/admin/stores/eventsStore.svelte.ts
  frontend/src/lib/api-interceptors.ts
  frontend/src/lib/logger.ts
  frontend/src/lib/notifications/stream.svelte.ts
  frontend/src/main.ts
  frontend/src/routes/Editor.svelte
  frontend/src/routes/Login.svelte
  frontend/src/routes/Settings.svelte
  frontend/src/routes/admin/__tests__/AdminUsers.test.ts
  frontend/src/stores/__tests__/auth.test.ts
  frontend/src/stores/__tests__/errorStore.test.ts
  frontend/src/stores/auth.svelte.ts
  frontend/src/stores/errorStore.svelte.ts
  frontend/src/stores/theme.svelte.ts
Due: eslint-frontend, svelte-check-frontend

feat: removal of unused code
  frontend/src/components/NotificationCenter.svelte
  frontend/src/components/ProtectedRoute.svelte
  frontend/src/components/__tests__/ProtectedRoute.test.ts
  frontend/src/components/admin/ActionButtons.svelte
  frontend/src/components/admin/StatsCard.svelte
  frontend/src/components/admin/StatusBadge.svelte
  frontend/src/components/admin/__tests__/ActionButtons.test.ts
  frontend/src/components/admin/__tests__/StatsCard.test.ts
  frontend/src/components/admin/__tests__/StatusBadge.test.ts
  frontend/src/components/admin/index.ts
  frontend/src/stores/__tests__/notificationStore.test.ts
Due: eslint-frontend, svelte-check-frontend

feat: dead code removal
  frontend/src/components/Header.svelte
  frontend/src/components/__tests__/Header.test.ts
  frontend/src/lib/admin/__tests__/pagination.test.ts
  frontend/src/lib/admin/pagination.svelte.ts
  frontend/src/stores/__tests__/errorStore.test.ts
  frontend/src/stores/errorStore.svelte.ts
Due: eslint-frontend, svelte-check-frontend

feat: dead code removal
  frontend/src/components/Header.svelte
  frontend/src/components/__tests__/Header.test.ts
  frontend/src/lib/admin/rate-limits/__tests__/rateLimits.test.ts
  frontend/src/lib/admin/rate-limits/rateLimits.ts
  frontend/src/lib/notifications/stream.svelte.ts
  frontend/src/styles/components.css
Due: eslint-frontend, svelte-check-frontend

feat: test fixes + style lint
  .github/workflows/frontend-ci.yml
  .pre-commit-config.yaml
  frontend/.stylelintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.css
  frontend/src/components/admin/events/__tests__/EventsTable.test.ts
  frontend/src/components/editor/OutputPanel.svelte
  frontend/src/lib/__tests__/formatters.test.ts
  frontend/src/lib/admin/stores/__tests__/eventsStore.test.ts
  frontend/src/lib/formatters.ts
  frontend/src/routes/Home.svelte
  frontend/src/stores/__tests__/auth.test.ts
  frontend/src/stores/__tests__/errorStore.test.ts
  frontend/src/stores/auth.svelte.ts
  frontend/src/styles/components.css
  frontend/src/styles/pages.css
Due: eslint-frontend, svelte-check-frontend

feat: issues fixed
  frontend/src/components/NotificationCenter.svelte
  frontend/src/lib/admin/rate-limits/__tests__/rateLimits.test.ts
  frontend/src/styles/pages.css
Due: eslint-frontend, svelte-check-frontend

feat: misc issues fixed, also update saga/exec status
  backend/app/api/routes/common.py
  backend/app/core/middlewares/security_headers.py
Due: ruff-backend, mypy-backend, vulture-backend

feat: better msg parsing from pods: using NAME+BYTESIZE instead of JSON. Also simplified logging in event mapper
  backend/app/scripts/entrypoint.sh
  backend/app/services/k8s_worker/pod_builder.py
  backend/app/services/pod_monitor/event_mapper.py
  backend/tests/unit/services/pod_monitor/test_event_mapper.py
Due: ruff-backend, mypy-backend, vulture-backend

feat: issues fixing (passing exit code instead of 0, previous issues, ..)
  backend/app/db/repositories/event_repository.py
  backend/app/db/repositories/execution_repository.py
  backend/app/db/repositories/saga_repository.py
  backend/app/scripts/entrypoint.sh
  backend/app/services/rate_limit_service.py
  backend/tests/e2e/services/rate_limit/test_rate_limit_service.py
  backend/tests/e2e/test_auth_routes.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: detected issues
  backend/app/db/repositories/notification_repository.py
  backend/app/scripts/entrypoint.sh
  backend/app/services/pod_monitor/event_mapper.py
  backend/tests/unit/services/pod_monitor/test_event_mapper.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: detected issues
  backend/app/core/middlewares/rate_limit.py
  backend/app/core/utils.py
  backend/app/db/repositories/event_repository.py
  backend/app/db/repositories/execution_repository.py
  backend/app/db/repositories/notification_repository.py
  backend/app/domain/user/__init__.py
  backend/app/domain/user/exceptions.py
  backend/app/services/auth_service.py
  backend/app/services/execution_queue.py
  backend/app/services/execution_service.py
  backend/app/services/notification_service.py
  backend/app/services/pod_monitor/event_mapper.py
  backend/app/services/saga/saga_orchestrator.py
  backend/tests/e2e/db/repositories/test_execution_repository.py
  backend/tests/unit/services/saga/test_saga_orchestrator.py
  backend/tests/unit/services/test_execution_queue.py
  docs/architecture/domain-exceptions.md
Due: ruff-backend, mypy-backend, vulture-backend

fix: detected issues
  backend/tests/e2e/db/repositories/test_execution_repository.py
  backend/tests/unit/services/saga/test_saga_orchestrator.py
Due: ruff-backend, mypy-backend, vulture-backend

feat: replaced vulture with grimp - better deadcode detection, also bumped up imports
  .github/workflows/grimp.yml
  .pre-commit-config.yaml
  AGENTS.md
  backend/app/core/providers.py
  backend/app/db/__init__.py
  backend/app/db/repositories/__init__.py
  backend/app/dlq/manager.py
  backend/app/events/consumer_group_monitor.py
  backend/app/events/core/producer.py
  backend/app/services/admin/admin_events_service.py
  backend/app/services/admin/admin_execution_service.py
  backend/app/services/admin/admin_settings_service.py
  backend/app/services/admin/admin_user_service.py
  backend/app/services/auth_service.py
  backend/app/services/event_replay/replay_service.py
  backend/app/services/event_service.py
  backend/app/services/execution_service.py
  backend/app/services/k8s_worker/worker.py
  backend/app/services/kafka_event_service.py
  backend/app/services/notification_scheduler.py
  backend/app/services/notification_service.py
  backend/app/services/result_processor/processor.py
  backend/app/services/runtime_settings.py
  backend/app/services/saga/execution_saga.py
  backend/app/services/saga/saga_orchestrator.py
  backend/app/services/saga/saga_service.py
  backend/app/services/saved_script_service.py
  backend/app/services/sse/sse_service.py
  backend/app/services/user_settings_service.py
  backend/pyproject.toml
  backend/scripts/check_orphan_modules.py
  backend/uv.lock
  backend/vulture_whitelist.py
  docs/operations/cicd.md
Due: ruff-backend, mypy-backend, vulture-backend

fix: bug detected
  backend/scripts/check_orphan_modules.py
Due: ruff-backend, mypy-backend, vulture-backend

feat: replaced vulture with grimp - better deadcode detection (#242)
  .github/workflows/grimp.yml
  .pre-commit-config.yaml
  AGENTS.md
  backend/app/core/providers.py
  backend/app/db/__init__.py
  backend/app/db/repositories/__init__.py
  backend/app/dlq/manager.py
  backend/app/events/consumer_group_monitor.py
  backend/app/events/core/producer.py
  backend/app/services/admin/admin_events_service.py
  backend/app/services/admin/admin_execution_service.py
  backend/app/services/admin/admin_settings_service.py
  backend/app/services/admin/admin_user_service.py
  backend/app/services/auth_service.py
  backend/app/services/event_replay/replay_service.py
  backend/app/services/event_service.py
  backend/app/services/execution_service.py
  backend/app/services/k8s_worker/worker.py
  backend/app/services/kafka_event_service.py
  backend/app/services/notification_scheduler.py
  backend/app/services/notification_service.py
  backend/app/services/result_processor/processor.py
  backend/app/services/runtime_settings.py
  backend/app/services/saga/execution_saga.py
  backend/app/services/saga/saga_orchestrator.py
  backend/app/services/saga/saga_service.py
  backend/app/services/saved_script_service.py
  backend/app/services/sse/sse_service.py
  backend/app/services/user_settings_service.py
  backend/pyproject.toml
  backend/scripts/check_orphan_modules.py
  backend/uv.lock
  backend/vulture_whitelist.py
  docs/operations/cicd.md
Due: ruff-backend, mypy-backend, vulture-backend

feat: removed calculation/acquisition of kafka-internal metrics (using faststream middleware for that)
  README.md
  backend/app/core/metrics/events.py
  backend/app/core/providers.py
  backend/app/events/core/__init__.py
  backend/app/events/core/producer.py
  backend/app/events/core/transport.py
  backend/app/events/handlers.py
  backend/app/services/k8s_worker/worker.py
  backend/grafana/provisioning/dashboards/http-middleware.json
  backend/grafana/provisioning/dashboards/kafka-events-monitoring.json
  backend/tests/unit/core/metrics/test_execution_and_events_metrics.py
  backend/tests/unit/core/metrics/test_metrics_classes.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: removed try-catch-raise
  backend/app/events/core/transport.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: detected issues
  backend/app/db/repositories/event_repository.py
  backend/grafana/provisioning/dashboards/http-middleware.json
  backend/grafana/provisioning/dashboards/kafka-events-monitoring.json
Due: ruff-backend, mypy-backend, vulture-backend

fix: logging caught error in event repo
  backend/app/db/repositories/event_repository.py
Due: ruff-backend, mypy-backend, vulture-backend

Fix: offload of kafka-internal metrics to faststream middleware (#243)
  README.md
  backend/app/core/metrics/events.py
  backend/app/core/providers.py
  backend/app/db/repositories/event_repository.py
  backend/app/events/core/__init__.py
  backend/app/events/core/producer.py
  backend/app/events/core/transport.py
  backend/app/events/handlers.py
  backend/app/services/k8s_worker/worker.py
  backend/grafana/provisioning/dashboards/http-middleware.json
  backend/grafana/provisioning/dashboards/kafka-events-monitoring.json
  backend/tests/unit/core/metrics/test_execution_and_events_metrics.py
  backend/tests/unit/core/metrics/test_metrics_classes.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: deps update, also using jsdom in frontend tests
  .github/workflows/sbom-compliance.yml
  .github/workflows/stack-tests.yml
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: stylelint update
  frontend/.stylelintrc.json
Due: none

fix: deps update, also using jsdom in frontend tests (#255)
  .github/workflows/sbom-compliance.yml
  .github/workflows/stack-tests.yml
  backend/pyproject.toml
  backend/uv.lock
  frontend/.stylelintrc.json
  frontend/package-lock.json
  frontend/package.json
Due: none
