Repository HardMax71/Integr8sCode: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

ruff-backend:
  name: ruff check (backend)
  entry: bash -c 'cd backend && uv run ruff check . --config pyproject.toml'
  language: system
  pass_filenames: false

mypy-backend:
  name: mypy --strict (backend)
  entry: bash -c 'cd backend && uv run mypy --config-file pyproject.toml --strict .'
  language: system
  pass_filenames: false

vulture-backend:
  name: vulture dead code (backend)
  entry: bash -c 'cd backend && uv run vulture app/ vulture_whitelist.py'
  language: system
  pass_filenames: false

eslint-frontend:
  name: eslint (frontend)
  entry: bash -c 'cd frontend && npx eslint src'
  language: system
  pass_filenames: false

svelte-check-frontend:
  name: svelte-check (frontend)
  entry: bash -c 'cd frontend && npx svelte-check --tsconfig ./tsconfig.json'
  language: system
  pass_filenames: false

fix: deploy configs updated (#205)
  .github/workflows/release-deploy.yml
  README.md
  backend/grafana/grafana.ini
  backend/grafana/provisioning/alerting/alerting.yml
  backend/grafana/provisioning/dashboards/integr8scode.json
  backend/grafana/provisioning/datasources/datasources.yml
  backend/otel-collector-config.yaml
  docker-compose.yaml
  docs/architecture/overview.md
  docs/assets/images/system_diagram.png
  docs/assets/images/system_diagram.svg
  docs/operations/cicd.md
  docs/operations/deployment.md
Due: none

fix: ignore mount points
  backend/otel-collector-config.yaml
Due: none

fix: ignore mount points (#206)
  backend/otel-collector-config.yaml
Due: none

removed kafka-init container (now autoinit) and removed 1 topic/different msg types - now 1-1
  backend/app/core/providers.py
  backend/app/db/docs/replay.py
  backend/app/dlq/manager.py
  backend/app/dlq/models.py
  backend/app/domain/enums/__init__.py
  backend/app/domain/enums/kafka.py
  backend/app/domain/replay/models.py
  backend/app/events/core/producer.py
  backend/app/events/handlers.py
  backend/app/infrastructure/kafka/__init__.py
  backend/app/infrastructure/kafka/mappings.py
  backend/app/infrastructure/kafka/topics.py
  backend/app/schemas_pydantic/replays.py
  backend/app/services/pod_monitor/config.py
  backend/app/services/pod_monitor/event_mapper.py
  backend/app/services/result_processor/processor.py
  backend/app/services/sse/redis_bus.py
  backend/scripts/create_topics.py
  backend/tests/e2e/conftest.py
  backend/tests/e2e/dlq/test_dlq_manager.py
  backend/tests/unit/events/test_mappings_and_types.py
  backend/tests/unit/services/pod_monitor/test_config_and_init.py
  docker-compose.yaml
  docs/architecture/event-system-design.md
  docs/architecture/kafka-topic-architecture.md
  docs/operations/deployment.md
Due: ruff-backend, mypy-backend, vulture-backend

docs update, schemas and stuff regenerate
  backend/app/services/pod_monitor/config.py
  backend/tests/unit/services/pod_monitor/test_config_and_init.py
  docs/reference/openapi.json
  frontend/src/lib/api/client/client.gen.ts
  frontend/src/lib/api/client/types.gen.ts
  frontend/src/lib/api/client/utils.gen.ts
  frontend/src/lib/api/core/auth.gen.ts
  frontend/src/lib/api/core/bodySerializer.gen.ts
  frontend/src/lib/api/core/params.gen.ts
  frontend/src/lib/api/core/pathSerializer.gen.ts
  frontend/src/lib/api/core/queryKeySerializer.gen.ts
  frontend/src/lib/api/core/serverSentEvents.gen.ts
  frontend/src/lib/api/core/types.gen.ts
  frontend/src/lib/api/core/utils.gen.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/types.gen.ts
  frontend/src/lib/editor/execution.svelte.ts
Due: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

removed dlq api: dlq is handled by internal dlq manager, nothing from frontend side uses it
  backend/app/api/routes/dlq.py
  backend/app/main.py
  backend/app/schemas_pydantic/dlq.py
  backend/tests/e2e/test_dlq_routes.py
  docs/reference/openapi.json
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/sdk.gen.ts
  frontend/src/lib/api/types.gen.ts
Due: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

refactored tests: the ones that dont need e2e setup are moved to unit
  backend/tests/e2e/app/test_main_app.py
  backend/tests/unit/app/__init__.py
  backend/tests/unit/app/test_main_app.py
Due: ruff-backend, mypy-backend, vulture-backend

handlers: replace in-loop creation of subscribers with a single subscriber handling all 16 ropics
  backend/app/events/handlers.py
Due: ruff-backend, mypy-backend, vulture-backend

removed prefix from topics' names
  backend/app/core/dishka_lifespan.py
  backend/app/core/providers.py
  backend/app/dlq/manager.py
  backend/app/events/core/producer.py
  backend/app/events/handlers.py
  backend/app/settings.py
  backend/tests/e2e/conftest.py
  backend/tests/e2e/dlq/test_dlq_manager.py
  backend/workers/run_coordinator.py
  backend/workers/run_dlq_processor.py
  backend/workers/run_k8s_worker.py
  backend/workers/run_result_processor.py
  backend/workers/run_saga_orchestrator.py
  docs/architecture/kafka-topic-architecture.md
Due: ruff-backend, mypy-backend, vulture-backend

dlq: removed general dlq_events topic, added new ones for consistency with general idea
  backend/app/dlq/manager.py
  backend/app/events/handlers.py
  backend/workers/run_dlq_processor.py
  docs/architecture/kafka-topic-architecture.md
Due: ruff-backend, mypy-backend, vulture-backend

extra handler for exec cancelled events + misc fixes
  backend/app/api/routes/sse.py
  backend/app/events/handlers.py
  backend/app/services/saga/saga_orchestrator.py
  docs/architecture/kafka-topic-architecture.md
  docs/reference/openapi.json
  frontend/src/lib/api/sdk.gen.ts
Due: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

added missing event to sse events, updated docs
  backend/app/events/handlers.py
  docs/architecture/event-system-design.md
Due: ruff-backend, mypy-backend, vulture-backend

e2e+unit tests for added frontend+backend components; fixed docs
  backend/app/schemas_pydantic/admin_executions.py
  backend/app/services/execution_queue.py
  backend/app/services/saga/saga_orchestrator.py
  backend/tests/e2e/test_admin_executions_routes.py
  backend/tests/unit/conftest.py
  backend/tests/unit/services/admin/__init__.py
  backend/tests/unit/services/admin/test_admin_execution_service.py
  backend/tests/unit/services/saga/test_saga_orchestrator_unit.py
  backend/tests/unit/services/test_execution_queue.py
  docs/reference/openapi.json
  frontend/e2e/admin-executions.spec.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/sdk.gen.ts
  frontend/src/lib/api/types.gen.ts
  frontend/src/routes/admin/AdminExecutions.svelte
  frontend/src/routes/admin/__tests__/AdminExecutions.test.ts
  frontend/src/routes/admin/__tests__/AdminLayout.test.ts
  mkdocs.yml
Due: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

extracted runtime settings provider separately
  backend/app/core/container.py
  backend/app/core/providers.py
Due: ruff-backend, mypy-backend, vulture-backend

first pack of fixes: updated metrics (docs and dashboard), calling not client.xx but directly autogenerated endpoint
  backend/grafana/provisioning/dashboards/coordinator-execution.json
  backend/tests/unit/services/saga/test_saga_orchestrator.py
  docs/operations/metrics-reference.md
  frontend/src/routes/admin/AdminExecutions.svelte
  frontend/src/routes/admin/__tests__/AdminExecutions.test.ts
Due: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

second pack of fixes: loading fixed for unhappy path, misc changes
  backend/app/services/execution_queue.py
  backend/app/services/saga/saga_orchestrator.py
  backend/tests/unit/services/saga/test_saga_orchestrator.py
  backend/tests/unit/services/test_execution_queue.py
  frontend/e2e/admin-events.spec.ts
  frontend/e2e/admin-executions.spec.ts
  frontend/src/routes/admin/AdminExecutions.svelte
  frontend/src/routes/admin/__tests__/AdminExecutions.test.ts
Due: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

frontend/sse: using autogenerated objs instead of already existing ones
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/__tests__/NotificationCenter.test.ts
  frontend/src/lib/editor/__tests__/execution.test.ts
  frontend/src/lib/editor/execution.svelte.ts
  frontend/src/lib/notifications/__tests__/stream.test.ts
  frontend/src/lib/notifications/stream.svelte.ts
Due: eslint-frontend, svelte-check-frontend

frontend/sse: only sse, removed try-catches, now with runes
  frontend/src/lib/editor/__tests__/execution.test.ts
  frontend/src/lib/editor/execution.svelte.ts
Due: eslint-frontend, svelte-check-frontend

both: json_schema_serialization_defaults_required=True + regenerated schema + updated components
  backend/app/schemas_pydantic/admin_events.py
  backend/app/schemas_pydantic/admin_executions.py
  backend/app/schemas_pydantic/admin_settings.py
  backend/app/schemas_pydantic/admin_user_overview.py
  backend/app/schemas_pydantic/common.py
  backend/app/schemas_pydantic/events.py
  backend/app/schemas_pydantic/execution.py
  backend/app/schemas_pydantic/notification.py
  backend/app/schemas_pydantic/replays.py
  backend/app/schemas_pydantic/saga.py
  backend/app/schemas_pydantic/saved_script.py
  backend/app/schemas_pydantic/sse.py
  backend/app/schemas_pydantic/user.py
  backend/app/schemas_pydantic/user_settings.py
  docs/reference/openapi.json
  frontend/src/components/editor/CodeMirrorEditor.svelte
  frontend/src/components/editor/OutputPanel.svelte
  frontend/src/components/editor/SavedScripts.svelte
  frontend/src/components/editor/__tests__/CodeMirrorEditor.test.ts
  frontend/src/components/editor/__tests__/SavedScripts.test.ts
  frontend/src/lib/__tests__/user-settings.test.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/types.gen.ts
  frontend/src/lib/user-settings.ts
  frontend/src/routes/Editor.svelte
  frontend/src/routes/Settings.svelte
  frontend/src/routes/admin/AdminEvents.svelte
  frontend/src/routes/admin/AdminExecutions.svelte
  frontend/src/routes/admin/AdminSettings.svelte
  frontend/src/routes/admin/AdminUsers.svelte
  frontend/src/stores/__tests__/userSettings.test.ts
  frontend/src/stores/userSettings.svelte.ts
Due: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

frontend: removed try-catches (errors intercepted globally in api-interceptors)
  frontend/src/lib/__tests__/user-settings.test.ts
  frontend/src/lib/user-settings.ts
  frontend/src/routes/Login.svelte
  frontend/src/routes/Register.svelte
  frontend/src/routes/__tests__/Login.test.ts
  frontend/src/routes/__tests__/Register.test.ts
  frontend/src/routes/admin/AdminExecutions.svelte
  frontend/src/routes/admin/AdminUsers.svelte
  frontend/src/stores/notificationStore.svelte.ts
Due: eslint-frontend, svelte-check-frontend

both: removed theme fields for editorSettings : editor theme is coupled to general website theme (system/white/dark) - mess in terms of code
  backend/app/db/docs/user_settings.py
  backend/app/domain/user/settings_models.py
  backend/app/schemas_pydantic/user_settings.py
  docs/reference/openapi.json
  frontend/src/components/editor/CodeMirrorEditor.svelte
  frontend/src/components/editor/__tests__/CodeMirrorEditor.test.ts
  frontend/src/lib/api/types.gen.ts
  frontend/src/routes/Settings.svelte
  frontend/src/routes/__tests__/Editor.test.ts
  frontend/src/routes/__tests__/Settings.test.ts
  frontend/src/stores/__tests__/userSettings.test.ts
  frontend/src/stores/userSettings.svelte.ts
Due: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

sonarqube yield issue
  frontend/src/lib/notifications/__tests__/stream.test.ts
Due: eslint-frontend, svelte-check-frontend

fix of settings/e2e + simplification of lib/api-interceptors
  frontend/e2e/settings.spec.ts
  frontend/src/lib/__tests__/api-interceptors.test.ts
  frontend/src/lib/api-interceptors.ts
Due: eslint-frontend, svelte-check-frontend

for admin - rate-limits api added (rn only defaults endpoint), regen'd openapi+types, updated frontend
  backend/app/api/routes/admin/__init__.py
  backend/app/api/routes/admin/rate_limits.py
  backend/app/main.py
  docs/reference/openapi.json
  frontend/src/components/admin/events/EventFilters.svelte
  frontend/src/components/admin/events/__tests__/EventFilters.test.ts
  frontend/src/components/admin/sagas/SagaDetailsModal.svelte
  frontend/src/components/admin/sagas/SagasTable.svelte
  frontend/src/components/admin/users/RateLimitsModal.svelte
  frontend/src/lib/admin/events/__tests__/eventTypes.test.ts
  frontend/src/lib/admin/events/eventTypes.ts
  frontend/src/lib/admin/sagas/__tests__/sagaStates.test.ts
  frontend/src/lib/admin/sagas/sagaStates.ts
  frontend/src/lib/admin/users/__tests__/rateLimits.test.ts
  frontend/src/lib/admin/users/rateLimits.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/sdk.gen.ts
  frontend/src/lib/api/types.gen.ts
  frontend/src/routes/admin/AdminEvents.svelte
  frontend/src/routes/admin/AdminUsers.svelte
  frontend/src/routes/admin/__tests__/AdminSagas.test.ts
  frontend/src/routes/admin/__tests__/AdminUsers.test.ts
  frontend/src/stores/__tests__/notificationStore.test.ts
  frontend/src/stores/notificationStore.svelte.ts
Due: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

admin api: moved rate limits from users api to separate limits api (where rate-limits endpoint is)
  backend/app/api/routes/admin/rate_limits.py
  backend/app/api/routes/admin/users.py
  docs/reference/openapi.json
  frontend/src/components/admin/users/RateLimitsModal.svelte
  frontend/src/lib/admin/index.ts
  frontend/src/lib/admin/rate-limits/__tests__/rateLimits.test.ts
  frontend/src/lib/admin/rate-limits/index.ts
  frontend/src/lib/admin/rate-limits/rateLimits.ts
  frontend/src/lib/admin/users/index.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/sdk.gen.ts
  frontend/src/lib/api/types.gen.ts
  frontend/src/routes/admin/AdminUsers.svelte
  frontend/src/routes/admin/__tests__/AdminUsers.test.ts
Due: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

feat: agents.md for LLMs added
  AGENTS.md
Due: none

feat: fix of detected issues
  AGENTS.md
  backend/app/api/routes/admin/executions.py
  backend/pyproject.toml
Due: ruff-backend, mypy-backend, vulture-backend

feat: fix of detected issues
  AGENTS.md
Due: none

feat: agents.md for LLMs added (#210)
  AGENTS.md
  backend/app/api/routes/admin/executions.py
  backend/pyproject.toml
Due: ruff-backend, mypy-backend, vulture-backend

feat: fix of detected issues
  backend/app/api/routes/admin/rate_limits.py
  frontend/src/components/admin/events/EventFilters.svelte
  frontend/src/routes/admin/AdminUsers.svelte
  frontend/src/stores/notificationStore.svelte.ts
Due: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

feat: fix of detected issues
  frontend/src/lib/editor/execution.svelte.ts
  frontend/src/lib/notifications/__tests__/stream.test.ts
Due: eslint-frontend, svelte-check-frontend

fix: outdated test
  frontend/src/lib/editor/__tests__/execution.test.ts
Due: eslint-frontend, svelte-check-frontend

fix: outdated test
  backend/tests/e2e/test_admin_users_routes.py
Due: ruff-backend, mypy-backend, vulture-backend

chore: simplification of sse: simplified redis bus (sends stuff to sse), types, convertion
  backend/app/domain/events/typed.py
  backend/app/domain/sse/__init__.py
  backend/app/domain/sse/models.py
  backend/app/events/handlers.py
  backend/app/schemas_pydantic/sse.py
  backend/app/services/execution_service.py
  backend/app/services/k8s_worker/worker.py
  backend/app/services/notification_service.py
  backend/app/services/pod_monitor/event_mapper.py
  backend/app/services/result_processor/processor.py
  backend/app/services/saga/saga_orchestrator.py
  backend/app/services/sse/redis_bus.py
  backend/app/services/sse/sse_service.py
  backend/tests/e2e/services/sse/test_partitioned_event_router.py
  backend/tests/e2e/services/sse/test_redis_bus.py
  backend/tests/unit/services/sse/test_kafka_redis_bridge.py
  backend/tests/unit/services/sse/test_sse_service.py
Due: ruff-backend, mypy-backend, vulture-backend

chore: removed sse redis subscription
  backend/app/domain/enums/sse.py
  backend/app/services/sse/__init__.py
  backend/app/services/sse/redis_bus.py
  backend/app/services/sse/sse_service.py
  backend/tests/e2e/notifications/test_notification_sse.py
  backend/tests/e2e/services/sse/test_partitioned_event_router.py
  backend/tests/e2e/services/sse/test_redis_bus.py
  backend/tests/unit/services/sse/test_sse_service.py
Due: ruff-backend, mypy-backend, vulture-backend

Path conditions:
  ruff-backend: any of: ^backend/.*\.py$
  mypy-backend: any of: ^backend/.*\.py$
  vulture-backend: any of: ^backend/.*\.py$
  eslint-frontend: any of: ^frontend/src/.*\.(ts|svelte)$
  svelte-check-frontend: any of: ^frontend/src/.*\.(ts|svelte)$
