Repository HardMax71/Integr8sCode: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: uv tool install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Local hooks using uv run to match CI exactly
  - repo: local
    hooks:
      # Ruff - matches CI: cd backend && uv run ruff check . --config pyproject.toml
      - id: ruff-backend
        name: ruff check (backend)
        entry: bash -c 'cd backend && uv run ruff check . --config pyproject.toml'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      # MyPy - matches CI: cd backend && uv run mypy --config-file pyproject.toml --strict .
      - id: mypy-backend
        name: mypy --strict (backend)
        entry: bash -c 'cd backend && uv run mypy --config-file pyproject.toml --strict .'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      # Vulture - matches CI: cd backend && uv run vulture app/ vulture_whitelist.py
      - id: vulture-backend
        name: vulture dead code (backend)
        entry: bash -c 'cd backend && uv run vulture app/ vulture_whitelist.py'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      # ESLint - matches CI: cd frontend && npx eslint src
      - id: eslint-frontend
        name: eslint (frontend)
        entry: bash -c 'cd frontend && npx eslint src'
        language: system
        files: ^frontend/src/.*\.(ts|svelte)$
        pass_filenames: false

      # Svelte Check - matches CI: cd frontend && npx svelte-check
      - id: svelte-check-frontend
        name: svelte-check (frontend)
        entry: bash -c 'cd frontend && npx svelte-check --tsconfig ./tsconfig.json'
        language: system
        files: ^frontend/src/.*\.(ts|svelte)$
        pass_filenames: false

fix: removed useless code from mappings
  backend/app/infrastructure/kafka/mappings.py
  backend/tests/unit/events/test_mappings_and_types.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: removed (allegedly) unused code
  backend/app/core/dishka_lifespan.py
  backend/app/db/docs/replay.py
  backend/app/db/repositories/admin/admin_events_repository.py
  backend/app/db/repositories/dlq_repository.py
  backend/app/db/repositories/execution_repository.py
  backend/app/db/repositories/user_settings_repository.py
  backend/app/dlq/manager.py
  backend/app/domain/events/event_models.py
  backend/app/domain/saga/exceptions.py
  backend/app/domain/saga/models.py
  backend/app/domain/user/settings_models.py
  backend/app/domain/user/user_models.py
  backend/app/events/consumer_group_monitor.py
  backend/app/events/core/producer.py
  backend/app/schemas_pydantic/execution.py
  backend/app/schemas_pydantic/notification.py
  backend/app/schemas_pydantic/replay.py
  backend/app/schemas_pydantic/saved_script.py
  backend/app/schemas_pydantic/user.py
  backend/app/schemas_pydantic/user_settings.py
  backend/app/services/event_service.py
  backend/app/services/idempotency/redis_repository.py
  backend/app/services/k8s_worker/worker.py
  backend/app/services/pod_monitor/event_mapper.py
  backend/app/services/result_processor/resource_cleaner.py
  backend/app/services/saga/saga_step.py
  backend/app/services/user_settings_service.py
  backend/tests/e2e/db/repositories/test_dlq_repository.py
  backend/tests/e2e/db/repositories/test_execution_repository.py
  backend/tests/e2e/dlq/test_dlq_discard.py
  backend/tests/e2e/dlq/test_dlq_retry.py
  backend/tests/e2e/events/test_consumer_group_monitor.py
  backend/tests/e2e/events/test_consumer_group_monitor_real.py
  backend/tests/e2e/events/test_producer_roundtrip.py
  backend/tests/e2e/services/idempotency/test_redis_repository.py
  backend/tests/e2e/services/user_settings/test_user_settings_service.py
  backend/tests/e2e/test_resource_cleaner.py
  backend/tests/unit/schemas_pydantic/test_notification_schemas.py
  backend/tests/unit/services/saga/test_saga_comprehensive.py
  backend/tests/unit/services/saga/test_saga_step_and_base.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: tests issue
  backend/tests/e2e/services/idempotency/test_redis_repository.py
Due: ruff-backend, mypy-backend, vulture-backend

Deleted test_producer_roundtrip.py — it was just await produce() with zero assertions after the DLQ path was removed. No roundtrip, no verification, no value.
  backend/tests/e2e/events/test_producer_roundtrip.py
Due: ruff-backend, mypy-backend, vulture-backend

readme and docs update
  README.md
  docs/architecture/domain-exceptions.md
  docs/architecture/model-conversion.md
  docs/architecture/services-overview.md
  docs/components/dead-letter-queue.md
  docs/components/workers/k8s_worker.md
  docs/components/workers/result_processor.md
  docs/operations/cicd.md
  docs/operations/tracing.md
Due: none

fix: further updates
  backend/app/api/routes/admin/settings.py
  backend/app/api/routes/replay.py
  backend/app/db/docs/admin_settings.py
  backend/app/db/docs/saga.py
  backend/app/db/repositories/admin/admin_settings_repository.py
  backend/app/domain/admin/__init__.py
  backend/app/domain/admin/settings_models.py
  backend/app/domain/saga/__init__.py
  backend/app/domain/saga/models.py
  backend/app/schemas_pydantic/admin_events.py
  backend/app/schemas_pydantic/admin_settings.py
  backend/app/schemas_pydantic/admin_user_overview.py
  backend/app/schemas_pydantic/event_schemas.py
  backend/app/schemas_pydantic/events.py
  backend/app/schemas_pydantic/replay.py
  backend/app/schemas_pydantic/replay_models.py
  backend/app/schemas_pydantic/replay_schemas.py
  backend/app/services/saga/__init__.py
  backend/tests/e2e/test_admin_settings_routes.py
  backend/tests/e2e/test_replay_routes.py
  backend/tests/unit/domain/test_system_settings.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: split between domain models nd pydantic schemas, also moved to pydantic schemas stuf fthat should be there
  backend/app/api/routes/admin/events.py
  backend/app/api/routes/health.py
  backend/app/api/routes/replay.py
  backend/app/db/repositories/admin/admin_events_repository.py
  backend/app/db/repositories/admin/admin_user_repository.py
  backend/app/db/repositories/dlq_repository.py
  backend/app/db/repositories/event_repository.py
  backend/app/dlq/__init__.py
  backend/app/dlq/models.py
  backend/app/domain/admin/__init__.py
  backend/app/domain/admin/overview_models.py
  backend/app/domain/admin/replay_models.py
  backend/app/domain/events/__init__.py
  backend/app/domain/events/event_models.py
  backend/app/domain/replay/__init__.py
  backend/app/domain/replay/models.py
  backend/app/domain/saga/__init__.py
  backend/app/domain/saga/models.py
  backend/app/domain/user/__init__.py
  backend/app/domain/user/settings_models.py
  backend/app/domain/user/user_models.py
  backend/app/schemas_pydantic/admin_events.py
  backend/app/schemas_pydantic/events.py
  backend/app/schemas_pydantic/health.py
  backend/app/schemas_pydantic/replay_models.py
  backend/app/schemas_pydantic/replays.py
  backend/app/services/admin/admin_events_service.py
  backend/app/services/admin/admin_user_service.py
  backend/app/services/event_replay/replay_service.py
  backend/app/services/event_service.py
  backend/app/services/saga/saga_service.py
  backend/app/services/user_settings_service.py
  backend/tests/e2e/services/user_settings/test_user_settings_service.py
  backend/tests/e2e/test_health_routes.py
  backend/tests/e2e/test_replay_routes.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: layers
  backend/app/api/routes/admin/events.py
  backend/app/api/routes/admin/users.py
  backend/app/db/repositories/admin/admin_events_repository.py
  backend/app/db/repositories/admin/admin_user_repository.py
  backend/app/db/repositories/dlq_repository.py
  backend/app/db/repositories/event_repository.py
  backend/app/dlq/__init__.py
  backend/app/dlq/models.py
  backend/app/domain/admin/__init__.py
  backend/app/domain/admin/overview_models.py
  backend/app/domain/admin/replay_models.py
  backend/app/domain/events/__init__.py
  backend/app/domain/events/event_models.py
  backend/app/domain/replay/__init__.py
  backend/app/domain/replay/models.py
  backend/app/domain/saga/__init__.py
  backend/app/domain/saga/models.py
  backend/app/domain/sse/__init__.py
  backend/app/domain/sse/models.py
  backend/app/domain/user/__init__.py
  backend/app/domain/user/settings_models.py
  backend/app/domain/user/user_models.py
  backend/app/schemas_pydantic/admin_events.py
  backend/app/schemas_pydantic/events.py
  backend/app/schemas_pydantic/replays.py
  backend/app/schemas_pydantic/sse.py
  backend/app/services/admin/admin_events_service.py
  backend/app/services/admin/admin_user_service.py
  backend/app/services/event_replay/replay_service.py
  backend/app/services/event_service.py
  backend/app/services/notification_service.py
  backend/app/services/saga/saga_service.py
  backend/app/services/sse/redis_bus.py
  backend/app/services/sse/sse_service.py
  backend/app/services/user_settings_service.py
  backend/tests/e2e/services/user_settings/test_user_settings_service.py
  backend/tests/unit/services/sse/test_sse_service.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: removed admin user repo, routing through usual user repo
  backend/app/api/routes/admin/events.py
  backend/app/api/routes/admin/users.py
  backend/app/core/providers.py
  backend/app/db/__init__.py
  backend/app/db/repositories/__init__.py
  backend/app/db/repositories/admin/__init__.py
  backend/app/db/repositories/admin/admin_events_repository.py
  backend/app/db/repositories/admin/admin_user_repository.py
  backend/app/db/repositories/user_repository.py
  backend/app/services/admin/admin_events_service.py
  backend/app/services/admin/admin_user_service.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: detected issues
  backend/app/api/routes/admin/users.py
  backend/app/domain/execution/models.py
  backend/app/domain/sse/models.py
  backend/app/schemas_pydantic/sse.py
  backend/app/services/admin/admin_user_service.py
  backend/app/services/sse/sse_service.py
  docs/reference/openapi.json
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/types.gen.ts
Due: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

fix: nitpick fixes
  backend/app/api/routes/admin/users.py
  backend/app/api/routes/sse.py
  backend/app/schemas_pydantic/sse.py
  backend/app/services/sse/sse_service.py
  backend/tests/e2e/notifications/test_notification_sse.py
  backend/tests/e2e/services/sse/test_partitioned_event_router.py
  backend/tests/e2e/services/sse/test_redis_bus.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: dataclasses for internal implementation, pydantic only on presentation layer
  backend/app/db/docs/admin_settings.py
  backend/app/db/docs/dlq.py
  backend/app/db/docs/event.py
  backend/app/db/docs/replay.py
  backend/app/db/docs/saga.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: misc
  backend/app/db/repositories/saga_repository.py
  backend/app/domain/rate_limit/rate_limit_models.py
  backend/app/services/rate_limit_service.py
  backend/app/services/sse/sse_service.py
Due: ruff-backend, mypy-backend, vulture-backend

docs: updated (removed event bus, pdantic -> domain dataclasses, ..)
  docs/architecture/authentication.md
  docs/architecture/event-bus.md
  docs/architecture/event-storage.md
  docs/architecture/lifecycle.md
  docs/architecture/model-conversion.md
  docs/architecture/pydantic-dataclasses.md
  docs/architecture/services-overview.md
  docs/architecture/user-settings-events.md
  docs/components/sse/execution-sse-flow.md
  docs/components/sse/sse-architecture.md
  docs/components/sse/sse-partitioned-architecture.md
  docs/components/workers/dlq_processor.md
  docs/components/workers/event_replay.md
  docs/frontend/routing.md
  docs/operations/cicd.md
  mkdocs.yml
Due: none

docs: small fixes
  docs/architecture/domain-dataclasses.md
  docs/architecture/services-overview.md
  docs/operations/cicd.md
Due: none

detected fixes
  backend/app/core/middlewares/metrics.py
  backend/app/core/security.py
  backend/app/events/handlers.py
  backend/app/services/user_settings_service.py
  docs/architecture/overview.md
  docs/architecture/rate-limiting.md
  frontend/nginx.conf.template
Due: ruff-backend, mypy-backend, vulture-backend

detected fixes
  docs/architecture/overview.md
  docs/operations/nginx-configuration.md
  frontend/nginx.conf.template
Due: none

detected fixes
  docs/operations/nginx-configuration.md
  frontend/nginx.conf.template
Due: none

fix: grafana url passed correctly; updated docs, configs and rollup file
  backend/grafana/grafana.ini
  docs/operations/nginx-configuration.md
  frontend/.env
  frontend/nginx.conf.template
  frontend/rollup.config.js
  frontend/src/components/Footer.svelte
Due: eslint-frontend, svelte-check-frontend

feat: deploy to remote server via CalSer
  .github/workflows/release-deploy.yml
  docs/operations/cicd.md
  docs/operations/deployment.md
Due: none

feat: detected issues
  .github/workflows/release-deploy.yml
  docs/operations/cicd.md
  docs/operations/deployment.md
  docs/operations/nginx-configuration.md
  frontend/.env
Due: none

Feat/auto deploy (#182)
  .github/workflows/release-deploy.yml
  backend/grafana/grafana.ini
  docs/operations/cicd.md
  docs/operations/deployment.md
  docs/operations/nginx-configuration.md
  frontend/.env
  frontend/nginx.conf.template
  frontend/rollup.config.js
  frontend/src/components/Footer.svelte
Due: eslint-frontend, svelte-check-frontend

feat: deploy for frontend - unified across local and prod (using prod with nginx), also passed ssl certs; updated docs and CI/CD
  .github/workflows/stack-tests.yml
  docker-compose.yaml
  docs/operations/cicd.md
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/nginx.conf.template
Due: none

fix: deploy for frontend, also plot twist: all observability stuff is dpeloyed by default (removed separate profile)
  docker-compose.yaml
  docs/operations/cicd.md
  docs/operations/nginx-configuration.md
  frontend/Dockerfile
  frontend/nginx.conf.template
Due: none

resource preccuse -> tests failing; -> resolver for nginx for grafana and brought back observability profile
  .github/workflows/release-deploy.yml
  docker-compose.yaml
  docs/operations/nginx-configuration.md
  frontend/nginx.conf.template
Due: none

further fixes
  frontend/src/app.css
Due: none

further fixes
  frontend/.dockerignore
  frontend/.gitignore
  frontend/src/app.css
Due: none

aother minification lib to use
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.cjs
Due: none

feat: deploy for frontend - unified across local and prod (#183)
  .github/workflows/release-deploy.yml
  .github/workflows/stack-tests.yml
  docker-compose.yaml
  docs/operations/cicd.md
  docs/operations/nginx-configuration.md
  frontend/.dockerignore
  frontend/.gitignore
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/nginx.conf.template
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.cjs
  frontend/public/index.html
  frontend/rollup.config.js
Due: none

fix: ignoring k8s setup (will fail if already set up)
  cert-generator/Dockerfile
Due: none

fix: ignoring k8s setup (will fail if already set up) (#184)
  cert-generator/Dockerfile
Due: none

fix: cors origins
  backend/app/main.py
  backend/app/settings.py
  backend/config.test.toml
  backend/config.toml
Due: ruff-backend, mypy-backend, vulture-backend

fix: cors origins (#185)
  backend/app/main.py
  backend/app/settings.py
  backend/config.test.toml
  backend/config.toml
Due: ruff-backend, mypy-backend, vulture-backend
