Repository HardMax71/Integr8sCode: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: uv tool install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Local hooks using uv run to match CI exactly
  - repo: local
    hooks:
      # Ruff - matches CI: cd backend && uv run ruff check . --config pyproject.toml
      - id: ruff-backend
        name: ruff check (backend)
        entry: bash -c 'cd backend && uv run ruff check . --config pyproject.toml'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      # MyPy - matches CI: cd backend && uv run mypy --config-file pyproject.toml --strict .
      - id: mypy-backend
        name: mypy --strict (backend)
        entry: bash -c 'cd backend && uv run mypy --config-file pyproject.toml --strict .'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      # Vulture - matches CI: cd backend && uv run vulture app/ vulture_whitelist.py
      - id: vulture-backend
        name: vulture dead code (backend)
        entry: bash -c 'cd backend && uv run vulture app/ vulture_whitelist.py'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      # ESLint - matches CI: cd frontend && npx eslint src
      - id: eslint-frontend
        name: eslint (frontend)
        entry: bash -c 'cd frontend && npx eslint src'
        language: system
        files: ^frontend/src/.*\.(ts|svelte)$
        pass_filenames: false

      # Svelte Check - matches CI: cd frontend && npx svelte-check
      - id: svelte-check-frontend
        name: svelte-check (frontend)
        entry: bash -c 'cd frontend && npx svelte-check --tsconfig ./tsconfig.json'
        language: system
        files: ^frontend/src/.*\.(ts|svelte)$
        pass_filenames: false

fix: anon access removed
  backend/grafana/grafana.ini
  docker-compose.yaml
Due: none

feat: loki for logs
  backend/app/core/logging.py
  backend/app/main.py
  backend/grafana/provisioning/datasources/datasources.yml
  backend/loki/loki-config.yaml
  backend/otel-collector-config.yaml
  backend/workers/run_dlq_processor.py
  backend/workers/run_event_replay.py
  backend/workers/run_k8s_worker.py
  backend/workers/run_pod_monitor.py
  backend/workers/run_result_processor.py
  backend/workers/run_saga_orchestrator.py
  docker-compose.yaml
  docs/operations/grafana-integration.md
  docs/operations/loki.md
  mkdocs.yml
Due: ruff-backend, mypy-backend, vulture-backend

feat: using settings.ENVIRONMENT consistently
  backend/app/core/dishka_lifespan.py
  backend/app/core/logging.py
  backend/app/core/middlewares/metrics.py
  backend/app/core/tracing/tracer.py
  backend/app/dlq/manager.py
  backend/app/services/notification_service.py
  backend/app/settings.py
  backend/config.test.toml
Due: ruff-backend, mypy-backend, vulture-backend

fix: detected issues
  backend/app/core/logging.py
  backend/grafana/grafana.ini
  docs/operations/grafana-integration.md
Due: ruff-backend, mypy-backend, vulture-backend

Fix: grafana access issues (#232)
  backend/app/core/dishka_lifespan.py
  backend/app/core/logging.py
  backend/app/core/middlewares/metrics.py
  backend/app/core/tracing/tracer.py
  backend/app/dlq/manager.py
  backend/app/main.py
  backend/app/services/notification_service.py
  backend/app/settings.py
  backend/config.test.toml
  backend/grafana/grafana.ini
  backend/grafana/provisioning/datasources/datasources.yml
  backend/loki/loki-config.yaml
  backend/otel-collector-config.yaml
  backend/workers/run_dlq_processor.py
  backend/workers/run_event_replay.py
  backend/workers/run_k8s_worker.py
  backend/workers/run_pod_monitor.py
  backend/workers/run_result_processor.py
  backend/workers/run_saga_orchestrator.py
  docker-compose.yaml
  docs/operations/grafana-integration.md
  docs/operations/loki.md
  mkdocs.yml
Due: ruff-backend, mypy-backend, vulture-backend

fix: detected issues
  backend/loki/loki-config.yaml
Due: none

fix: detected issues (#233)
  backend/loki/loki-config.yaml
Due: none

fix: disabled ruler and increased timeouts for loki
  backend/loki/loki-config.yaml
  docker-compose.yaml
Due: none

fix: configs in deploy (#234)
  backend/loki/loki-config.yaml
  docker-compose.yaml
Due: none

fix: deps update
  .github/workflows/docker.yml
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: deps update (#235)
  .github/workflows/docker.yml
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: misc changes for quicker build and dpeloy times
  .github/workflows/stack-tests.yml
  backend/.dockerignore
  backend/Dockerfile.base
  backend/Dockerfile.test
  backend/pyproject.toml
  backend/uv.lock
  docs/architecture/frontend-build.md
  docs/operations/cicd.md
  frontend/package-lock.json
  frontend/package.json
  frontend/rollup.config.js
Due: none

fix: fixture for user in frontend/unit tests
  frontend/src/__tests__/test-utils.ts
  frontend/src/components/__tests__/ErrorDisplay.test.ts
  frontend/src/components/__tests__/Header.test.ts
  frontend/src/components/__tests__/NotificationCenter.test.ts
  frontend/src/components/admin/events/__tests__/EventDetailsModal.test.ts
  frontend/src/components/admin/events/__tests__/EventFilters.test.ts
  frontend/src/components/admin/events/__tests__/EventsTable.test.ts
  frontend/src/components/admin/events/__tests__/ReplayPreviewModal.test.ts
  frontend/src/components/admin/events/__tests__/ReplayProgressBanner.test.ts
  frontend/src/components/editor/__tests__/LanguageSelect.test.ts
  frontend/src/components/editor/__tests__/OutputPanel.test.ts
  frontend/src/components/editor/__tests__/ResourceLimits.test.ts
  frontend/src/components/editor/__tests__/SavedScripts.test.ts
  frontend/src/routes/__tests__/Editor.test.ts
  frontend/src/routes/__tests__/Login.test.ts
  frontend/src/routes/__tests__/Notifications.test.ts
  frontend/src/routes/__tests__/Register.test.ts
  frontend/src/routes/__tests__/Settings.test.ts
  frontend/src/routes/admin/__tests__/AdminEvents.test.ts
  frontend/src/routes/admin/__tests__/AdminExecutions.test.ts
  frontend/src/routes/admin/__tests__/AdminSagas.test.ts
  frontend/src/routes/admin/__tests__/AdminSettings.test.ts
  frontend/src/routes/admin/__tests__/AdminUsers.test.ts
Due: eslint-frontend, svelte-check-frontend

fix: deploy issue
  .github/workflows/stack-tests.yml
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix: quicker frontend/unit tests
  frontend/package-lock.json
  frontend/src/routes/__tests__/Editor.test.ts
  frontend/src/routes/__tests__/Privacy.test.ts
  frontend/src/routes/__tests__/Settings.test.ts
  frontend/src/routes/admin/__tests__/AdminEvents.test.ts
  frontend/src/routes/admin/__tests__/AdminSagas.test.ts
Due: eslint-frontend, svelte-check-frontend

fix: quicker frontend/unit tests
  frontend/src/__tests__/test-utils.ts
  frontend/src/components/__tests__/Header.test.ts
  frontend/src/components/__tests__/ProtectedRoute.test.ts
  frontend/src/components/admin/events/__tests__/EventDetailsModal.test.ts
  frontend/src/components/admin/events/__tests__/EventsTable.test.ts
  frontend/src/components/admin/events/__tests__/ReplayPreviewModal.test.ts
  frontend/src/components/admin/events/__tests__/ReplayProgressBanner.test.ts
  frontend/src/components/admin/events/__tests__/UserOverviewModal.test.ts
  frontend/src/components/editor/__tests__/LanguageSelect.test.ts
  frontend/src/components/editor/__tests__/OutputPanel.test.ts
  frontend/src/components/editor/__tests__/ResourceLimits.test.ts
  frontend/src/components/editor/__tests__/SavedScripts.test.ts
  frontend/src/routes/__tests__/Editor.test.ts
  frontend/src/routes/__tests__/Home.test.ts
  frontend/src/routes/__tests__/Login.test.ts
  frontend/src/routes/__tests__/Notifications.test.ts
  frontend/src/routes/__tests__/Register.test.ts
  frontend/src/routes/__tests__/Settings.test.ts
  frontend/src/routes/admin/__tests__/AdminEvents.test.ts
  frontend/src/routes/admin/__tests__/AdminExecutions.test.ts
  frontend/src/routes/admin/__tests__/AdminLayout.test.ts
  frontend/src/routes/admin/__tests__/AdminSagas.test.ts
  frontend/src/routes/admin/__tests__/AdminSettings.test.ts
  frontend/src/routes/admin/__tests__/AdminUsers.test.ts
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
Due: eslint-frontend, svelte-check-frontend

fix: quicker frontend/unit tests - independent unit tests
  frontend/src/routes/admin/__tests__/AdminEvents.test.ts
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
Due: eslint-frontend, svelte-check-frontend

feat: pulling store refactor for specific components
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/test-utils.ts
  frontend/src/components/__tests__/NotificationCenter.test.ts
  frontend/src/lib/__tests__/formatters.test.ts
  frontend/src/lib/admin/__tests__/autoRefresh.test.ts
  frontend/src/lib/admin/autoRefresh.svelte.ts
  frontend/src/lib/admin/stores/__tests__/eventsStore.test.ts
  frontend/src/lib/admin/stores/__tests__/executionsStore.test.ts
  frontend/src/lib/admin/stores/__tests__/sagasStore.test.ts
  frontend/src/lib/admin/stores/eventsStore.svelte.ts
  frontend/src/lib/admin/stores/executionsStore.svelte.ts
  frontend/src/lib/admin/stores/sagasStore.svelte.ts
  frontend/src/routes/admin/AdminEvents.svelte
  frontend/src/routes/admin/AdminExecutions.svelte
  frontend/src/routes/admin/AdminSagas.svelte
  frontend/src/routes/admin/__tests__/AdminEvents.test.ts
  frontend/src/routes/admin/__tests__/AdminExecutions.test.ts
  frontend/src/routes/admin/__tests__/AdminSagas.test.ts
  frontend/src/routes/admin/__tests__/AdminUsers.test.ts
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
Due: eslint-frontend, svelte-check-frontend

feat: pulling store refactor for specific components
  backend/app/api/routes/admin/events.py
  backend/app/api/routes/saga.py
  backend/app/core/container.py
  backend/app/core/providers.py
  backend/app/db/repositories/admin/admin_events_repository.py
  backend/app/domain/sse/__init__.py
  backend/app/domain/sse/models.py
  backend/app/services/admin/admin_events_service.py
  backend/app/services/event_replay/replay_service.py
  backend/app/services/saga/saga_service.py
  backend/app/services/sse/redis_bus.py
  backend/app/services/sse/sse_service.py
  backend/tests/e2e/test_admin_events_routes.py
  backend/tests/unit/services/sse/test_redis_bus.py
  backend/tests/unit/services/sse/test_sse_service.py
  docs/reference/openapi.json
  frontend/src/lib/admin/stores/__tests__/eventsStore.test.ts
  frontend/src/lib/admin/stores/__tests__/sagasStore.test.ts
  frontend/src/lib/admin/stores/eventsStore.svelte.ts
  frontend/src/lib/admin/stores/sagasStore.svelte.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/sdk.gen.ts
  frontend/src/lib/api/types.gen.ts
  frontend/src/routes/admin/__tests__/AdminSagas.test.ts
Due: ruff-backend, mypy-backend, vulture-backend, eslint-frontend, svelte-check-frontend

fix: in e2e-ready - pre-pull of python3.11 image
  .github/actions/e2e-ready/action.yml
Due: none

fix: timeout check for liveness of kube in e2e-ready
  .github/actions/e2e-ready/action.yml
Due: none

fix: test timeout fix
  backend/tests/e2e/test_k8s_worker_create_pod.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: removed test completely
  backend/tests/e2e/test_k8s_worker_create_pod.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: event waiter + brought back failing test
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_k8s_worker_create_pod.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: meddling of workers into stuff of each other -> adding kafka suffix
  backend/app/core/dishka_lifespan.py
  backend/app/events/handlers.py
  backend/app/settings.py
  backend/tests/conftest.py
  backend/tests/e2e/notifications/test_notification_sse.py
  backend/tests/e2e/services/sse/test_partitioned_event_router.py
  backend/tests/e2e/test_k8s_worker_create_pod.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: teardown improvement
  backend/app/core/providers.py
  backend/app/settings.py
  backend/config.test.toml
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_k8s_worker_create_pod.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: pytest-timeout try
  backend/pyproject.toml
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_execution_routes.py
  backend/tests/e2e/test_k8s_worker_create_pod.py
  backend/tests/e2e/test_saga_routes.py
  backend/tests/e2e/test_sse_routes.py
  backend/uv.lock
Due: ruff-backend, mypy-backend, vulture-backend

fix: pytest-timeout try
  backend/tests/e2e/test_admin_events_routes.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: removed xx.aclose in tests
  backend/tests/e2e/notifications/test_notification_sse.py
  backend/tests/e2e/services/sse/test_partitioned_event_router.py
  backend/tests/e2e/test_admin_events_routes.py
  backend/tests/unit/services/sse/test_redis_bus.py
  backend/tests/unit/services/sse/test_sse_service.py
Due: ruff-backend, mypy-backend, vulture-backend

feat: deps groups in backend
  .github/workflows/docs.yml
  .github/workflows/mypy.yml
  .github/workflows/ruff.yml
  .github/workflows/stack-tests.yml
  .github/workflows/vulture.yml
  backend/pyproject.toml
  backend/uv.lock
  deploy.sh
Due: none

feat: conftest better fix
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_sse_routes.py
Due: ruff-backend, mypy-backend, vulture-backend

feat: fixed fixtures in backend/e2e
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_notifications_routes.py
  backend/tests/e2e/test_saga_routes.py
  backend/tests/e2e/test_sse_routes.py
Due: ruff-backend, mypy-backend, vulture-backend

feat: extract default exec request + removed redis client dep in sse routes tests
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_sse_routes.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: simple exec script as a fixture
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_execution_routes.py
  backend/tests/e2e/test_notifications_routes.py
  backend/tests/e2e/test_saga_routes.py
  backend/tests/e2e/test_sse_routes.py
Due: ruff-backend, mypy-backend, vulture-backend

feat: fixed fixtures in backend/e2e (#237)
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_execution_routes.py
  backend/tests/e2e/test_notifications_routes.py
  backend/tests/e2e/test_saga_routes.py
  backend/tests/e2e/test_sse_routes.py
Due: ruff-backend, mypy-backend, vulture-backend

fix: updated diagram
  docs/assets/images/system_diagram.svg
Due: none

fix: updated docs
  docs/architecture/middleware.md
  docs/architecture/rate-limiting.md
  docs/components/schema-manager.md
  docs/components/workers/index.md
  docs/frontend/routing.md
  docs/reference/configuration.md
Due: none

fix: middleware doc update
  docs/architecture/middleware.md
Due: none

fix: detected issues
  docs/architecture/middleware.md
  docs/components/schema-manager.md
  docs/reference/configuration.md
Due: none
