Repository HardMax71/Integr8sCode: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-backend, mypy-backend, grimp-backend, eslint-frontend, stylelint-frontend, svelte-check-frontend

ruff-backend:
  name: ruff check (backend)
  entry: bash -c 'cd backend && uv run ruff check . --config pyproject.toml'
  language: system
  pass_filenames: false

mypy-backend:
  name: mypy --strict (backend)
  entry: bash -c 'cd backend && uv run mypy --config-file pyproject.toml --strict .'
  language: system
  pass_filenames: false

grimp-backend:
  name: grimp orphan modules (backend)
  entry: bash -c 'cd backend && uv run python scripts/check_orphan_modules.py'
  language: system
  pass_filenames: false

eslint-frontend:
  name: eslint (frontend)
  entry: bash -c 'cd frontend && npx eslint src'
  language: system
  pass_filenames: false

stylelint-frontend:
  name: stylelint (frontend)
  entry: bash -c 'cd frontend && npx stylelint "src/**/*.css"'
  language: system
  pass_filenames: false

svelte-check-frontend:
  name: svelte-check (frontend)
  entry: bash -c 'cd frontend && npx svelte-check --tsconfig ./tsconfig.json'
  language: system
  pass_filenames: false

chore: removed unused docker cleanup file
  scripts/docker-cleanup.sh
Due: none

chore: Replaced the DaisyUI spinner with <Spinner size="small" />.
  frontend/src/components/NotificationCenter.svelte
Due: eslint-frontend, svelte-check-frontend

chore: added missing css, centralized classes
  frontend/src/components/admin/events/EventsTable.svelte
  frontend/src/components/admin/sagas/SagasTable.svelte
  frontend/src/components/admin/users/UsersTable.svelte
  frontend/src/routes/admin/AdminExecutions.svelte
  frontend/src/styles/components.css
Due: eslint-frontend, stylelint-frontend, svelte-check-frontend

chore: missing a11y added
  frontend/src/components/Header.svelte
  frontend/src/components/Modal.svelte
  frontend/src/components/Pagination.svelte
  frontend/src/components/admin/FilterPanel.svelte
  frontend/src/components/admin/events/EventsTable.svelte
  frontend/src/components/admin/events/__tests__/EventsTable.test.ts
  frontend/src/components/admin/sagas/SagasTable.svelte
  frontend/src/components/admin/users/UserFormModal.svelte
  frontend/src/components/admin/users/UsersTable.svelte
  frontend/src/components/admin/users/__tests__/UserFormModal.test.ts
  frontend/src/routes/Notifications.svelte
  frontend/src/routes/admin/AdminExecutions.svelte
  frontend/src/routes/admin/__tests__/AdminEvents.test.ts
  frontend/src/routes/admin/__tests__/AdminUsers.test.ts
Due: eslint-frontend, svelte-check-frontend

chore: prettierrc added
  .github/workflows/frontend-ci.yml
  .pre-commit-config.yaml
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/vitest.config.ts
Due: none

chore: added unit tests for editor toolbar and script actions
  frontend/src/components/editor/__tests__/EditorToolbar.test.ts
  frontend/src/components/editor/__tests__/ScriptActions.test.ts
Due: eslint-frontend, svelte-check-frontend

chore: detected issues
  frontend/src/components/Modal.svelte
  frontend/src/components/__tests__/Modal.test.ts
  frontend/src/components/admin/events/EventsTable.svelte
Due: eslint-frontend, svelte-check-frontend

chore: removed deadcode, extracted copypasted code into separate funcs, updated docs
  backend/app/db/docs/saga.py
  backend/app/domain/events/typed.py
  backend/app/domain/saga/__init__.py
  backend/app/domain/saga/models.py
  backend/app/services/event_replay/replay_service.py
  backend/app/services/notification_service.py
  backend/app/services/saga/__init__.py
  backend/workers/bootstrap.py
  backend/workers/run_dlq_processor.py
  backend/workers/run_event_replay.py
  backend/workers/run_k8s_worker.py
  backend/workers/run_pod_monitor.py
  backend/workers/run_result_processor.py
  backend/workers/run_saga_orchestrator.py
  docs/architecture/event-system-design.md
  docs/architecture/lifecycle.md
  docs/architecture/services-overview.md
  docs/components/workers/index.md
Due: ruff-backend, mypy-backend, grimp-backend

chore: second group of duplications removed
  backend/app/db/docs/__init__.py
  backend/app/db/docs/user_settings.py
  backend/app/schemas_pydantic/user_settings.py
  backend/app/services/user_settings_service.py
  backend/tests/load/plot_report.py
Due: ruff-backend, mypy-backend, grimp-backend

chore: isolated frontend/unit tests
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
Due: none

chore: in frontend tests, replaced relative imports with $
  backend/workers/bootstrap.py
  frontend/src/components/__tests__/Header.test.ts
  frontend/src/components/__tests__/NotificationCenter.test.ts
  frontend/src/lib/__tests__/user-settings.test.ts
  frontend/src/routes/admin/__tests__/AdminEvents.test.ts
  frontend/src/routes/admin/__tests__/AdminExecutions.test.ts
  frontend/src/routes/admin/__tests__/AdminSagas.test.ts
  frontend/src/routes/admin/__tests__/AdminSettings.test.ts
  frontend/src/routes/admin/__tests__/AdminUsers.test.ts
  frontend/src/stores/__tests__/auth.test.ts
  frontend/src/stores/__tests__/theme.test.ts
Due: ruff-backend, mypy-backend, grimp-backend, eslint-frontend, svelte-check-frontend

chore: in frontend, xxStore files: moving autoRefresh as an optional functionality instead of starting timers all the time
  frontend/src/lib/admin/stores/__tests__/eventsStore.test.ts
  frontend/src/lib/admin/stores/__tests__/executionsStore.test.ts
  frontend/src/lib/admin/stores/__tests__/sagasStore.test.ts
  frontend/src/lib/admin/stores/eventsStore.svelte.ts
  frontend/src/lib/admin/stores/executionsStore.svelte.ts
  frontend/src/lib/admin/stores/sagasStore.svelte.ts
Due: eslint-frontend, svelte-check-frontend

chore: streamlined sse service, no sse bus
  backend/app/core/providers.py
  backend/app/events/handlers.py
  backend/app/services/event_replay/replay_service.py
  backend/app/services/notification_service.py
  backend/app/services/sse/__init__.py
  backend/app/services/sse/redis_bus.py
  backend/app/services/sse/sse_service.py
  backend/tests/e2e/conftest.py
  backend/tests/e2e/core/test_dishka_lifespan.py
  backend/tests/e2e/notifications/test_notification_sse.py
  backend/tests/e2e/services/sse/test_partitioned_event_router.py
  backend/tests/unit/services/sse/test_redis_bus.py
  backend/tests/unit/services/sse/test_sse_publish.py
  backend/tests/unit/services/sse/test_sse_service.py
  docs/architecture/lifecycle.md
Due: ruff-backend, mypy-backend, grimp-backend

chore: no sync for backend/unit tests
  .github/workflows/stack-tests.yml
Due: none

chore: no sync for backend/unit tests (eleminates useless downloads of libs from dev group)
  .github/workflows/grimp.yml
  .github/workflows/mypy.yml
  .github/workflows/ruff.yml
  .github/workflows/stack-tests.yml
Due: none

chore: e2e-ready with parallel actions via crictl
  .github/actions/e2e-boot/action.yml
  .github/actions/e2e-ready/action.yml
  .github/workflows/stack-tests.yml
Due: none

chore: mypy test group deps added
  .github/workflows/mypy.yml
Due: none

chore: frontend/unit update
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/test-utils.ts
  frontend/src/components/Pagination.svelte
  frontend/src/components/__tests__/Pagination.test.ts
  frontend/src/components/admin/AutoRefreshControl.svelte
  frontend/src/routes/admin/AdminExecutions.svelte
  frontend/src/routes/admin/AdminSagas.svelte
  frontend/src/routes/admin/AdminUsers.svelte
  frontend/src/routes/admin/__tests__/AdminEvents.test.ts
  frontend/src/routes/admin/__tests__/AdminExecutions.test.ts
  frontend/src/routes/admin/__tests__/AdminSagas.test.ts
  frontend/src/routes/admin/__tests__/AdminUsers.test.ts
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
Due: eslint-frontend, svelte-check-frontend

chore: frontend/unit mock centralization
  frontend/src/__tests__/test-utils.ts
  frontend/src/components/__tests__/Header.test.ts
  frontend/src/components/__tests__/NotificationCenter.test.ts
  frontend/src/components/admin/users/__tests__/RateLimitsModal.test.ts
  frontend/src/components/editor/__tests__/OutputPanel.test.ts
  frontend/src/lib/__tests__/api-interceptors.test.ts
  frontend/src/lib/__tests__/user-settings.test.ts
  frontend/src/lib/admin/__tests__/pagination.test.ts
  frontend/src/lib/admin/stores/__tests__/eventsStore.test.ts
  frontend/src/lib/admin/stores/__tests__/executionsStore.test.ts
  frontend/src/lib/admin/stores/__tests__/sagasStore.test.ts
  frontend/src/lib/editor/__tests__/execution.test.ts
  frontend/src/lib/notifications/__tests__/stream.test.ts
  frontend/src/routes/__tests__/Editor.test.ts
  frontend/src/routes/__tests__/Home.test.ts
  frontend/src/routes/__tests__/Login.test.ts
  frontend/src/routes/__tests__/Notifications.test.ts
  frontend/src/routes/__tests__/Register.test.ts
  frontend/src/routes/__tests__/Settings.test.ts
  frontend/src/routes/admin/__tests__/AdminEvents.test.ts
  frontend/src/routes/admin/__tests__/AdminExecutions.test.ts
  frontend/src/routes/admin/__tests__/AdminLayout.test.ts
  frontend/src/routes/admin/__tests__/AdminSagas.test.ts
  frontend/src/routes/admin/__tests__/AdminSettings.test.ts
  frontend/src/routes/admin/__tests__/AdminUsers.test.ts
  frontend/src/stores/__tests__/auth.test.ts
  frontend/src/stores/__tests__/theme.test.ts
  frontend/vitest.setup.ts
Due: eslint-frontend, svelte-check-frontend

chore: removed jsdom + useless comments
  .github/actions/e2e-ready/action.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/__tests__/ErrorDisplay.test.ts
  frontend/src/components/__tests__/Footer.test.ts
  frontend/src/components/__tests__/Header.test.ts
  frontend/src/components/__tests__/NotificationCenter.test.ts
  frontend/src/components/__tests__/Spinner.test.ts
  frontend/src/components/admin/users/__tests__/RateLimitsModal.test.ts
  frontend/src/lib/editor/__tests__/languages.test.ts
  frontend/src/routes/__tests__/Editor.test.ts
  frontend/src/stores/__tests__/auth.test.ts
  frontend/src/stores/__tests__/theme.test.ts
  frontend/src/utils/__tests__/meta.test.ts
  frontend/vitest.setup.ts
Due: eslint-frontend, svelte-check-frontend

chore: removed jsdom + useless comments
  frontend/src/lib/admin/stores/__tests__/eventsStore.test.ts
  frontend/src/lib/admin/stores/__tests__/executionsStore.test.ts
  frontend/src/lib/admin/stores/__tests__/sagasStore.test.ts
Due: eslint-frontend, svelte-check-frontend

chore: brought back isolation
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
Due: none

feat: in landing, background gradient is spread across whole available space, no paddings
  frontend/src/App.svelte
  frontend/src/routes/Home.svelte
  frontend/src/styles/pages.css
Due: eslint-frontend, stylelint-frontend, svelte-check-frontend

feat: fonts optimizations
  frontend/nginx.conf.template
  frontend/public/index.html
  frontend/src/app.css
Due: stylelint-frontend

feat: correct gradient display + update cards in home page
  frontend/src/App.svelte
  frontend/src/routes/Home.svelte
  frontend/src/styles/pages.css
Due: eslint-frontend, stylelint-frontend, svelte-check-frontend

feat: privacy page style update + added description to meta.ts
  frontend/src/routes/Privacy.svelte
  frontend/src/utils/meta.ts
Due: eslint-frontend, svelte-check-frontend

feat: settings page update
  frontend/src/routes/Settings.svelte
  frontend/src/utils/meta.ts
Due: eslint-frontend, svelte-check-frontend

feat: pre-commit not dangerous reformatting for frontend (prettier) and backend (ruff) added
  .pre-commit-config.yaml
Due: none

fix: detected issues
  frontend/src/lib/admin/pollWhileVisible.svelte.ts
  frontend/src/lib/admin/stores/sagasStore.svelte.ts
Due: eslint-frontend, svelte-check-frontend

fix: detected issues
  frontend/src/App.svelte
Due: eslint-frontend, svelte-check-frontend

fix: autoreload stuff in case if frontend build is changed
  frontend/.gitignore
  frontend/nginx.conf.template
  frontend/package-lock.json
  frontend/package.json
  frontend/rollup.config.js
  frontend/src/index.html
Due: none

fix: removed useless index.html
  frontend/public/index.html
Due: none

fix: detected issues
  frontend/rollup.config.js
Due: none

fix: autoreload stuff in case if frontend build is changed (#269)
  frontend/.gitignore
  frontend/nginx.conf.template
  frontend/package-lock.json
  frontend/package.json
  frontend/rollup.config.js
  frontend/src/index.html
Due: none

Path conditions:
  ruff-backend: any of: ^backend/.*\.py$
  mypy-backend: any of: ^backend/.*\.py$
  grimp-backend: any of: ^backend/.*\.py$
  eslint-frontend: any of: ^frontend/src/.*\.(ts|svelte)$
  stylelint-frontend: any of: ^frontend/src/.*\.css$
  svelte-check-frontend: any of: ^frontend/src/.*\.(ts|svelte)$
